  <div class="container" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
    <ion-icon name="close-outline" class="close-button" (click)="closeModal ()" *ngIf="isModal"></ion-icon>
    <div class="section" *ngIf="enableOrigin">
      <h3>Ajouter un enlèvement</h3>
      <div [ngTemplateOutlet]="delivery" [ngTemplateOutletContext]="{ type: 'origin', form: originForm, address: origin, errors: originErrors }"></div>
      <br>
    </div>
    <div  class="section" *ngIf="enableDestination">
      <h3>Ajouter une livraison</h3>
      <div [ngTemplateOutlet]="delivery" [ngTemplateOutletContext]="{ type: 'destination', form: destinationForm, address: destination, errors: destinationErrors }"></div>
    </div>

    <div [formGroup]="otherForm"  class="section" *ngIf="origin">
      <h3>Ajouter une marchandise</h3>

      <div>
        <div class="selected-merchandise" *ngFor="let merchandise of getSelectedMerchandises();">
          <span>{{ merchandise.description }}</span>
          <div class="icons">
            <ion-icon class="pointer" name="create-outline" (click)="setMerchandiseEdit(merchandise.description)"></ion-icon> &nbsp; &nbsp;
            <ion-icon class="pointer" name="trash-outline" (click)="deleteMerchandise (merchandise.id)"></ion-icon>
          </div>  
        </div>
      </div>

      <div>
        <div class="merchandises">
          <div class="merchandise pointer" *ngFor="let merchandise of merchandises" (click)="setMerchandiseEdit(merchandise)">
            <ion-icon name="radio-button-on-outline" class="checkbox" *ngIf="merchandisesSelected[merchandiseId[merchandise]]"></ion-icon>
            <ion-icon name="radio-button-off-outline" class="checkbox" *ngIf="!merchandisesSelected[merchandiseId[merchandise]]"></ion-icon>
            <div class="title">{{ merchandise }}</div>
            <img src="{{ merchandisesUrl }}{{ merchandiseId[merchandise] }}.png">
          </div>
        </div>
      </div>
    </div>
    <div class="section" *ngIf="!isDashdocModel">
      <br>
      <h3>Ajouter une pièce jointe</h3>
      <i>Taille du fichier : 10Mo max .jpeg, .png, .pdf</i>
      <div class="attachment" [class.selected]="!!fileToUpload" (click)="askFileToUpload ()">
        <ion-icon name="download-outline"></ion-icon>
        <div *ngIf="!!fileToUpload">{{ fileToUpload.name }}</div>
        <div class="error" *ngIf="fileToUploadError">{{ fileToUploadError }}</div>

        <div *ngIf="!fileToUpload">
          Joindre un fichier à la demande 
        </div>

        <input id="file-upload" class="ion-hide" type="file" accept=".pdf,.jpg,.jpeg,.png,.doc,.docx,.xls,.xslx" (change)="onUploadFile($event)" />
      </div>
    </div>
    <br>
    <ion-button (click)="onSubmit()">Valider la demande</ion-button>
    <br>
    
    <!-- Delivery template -->
    <ng-template #delivery let-type="type" let-address="address" let-form="form" let-errors="errors">
      <div class="address-and-contact">
        <div [formGroup]="form" class="relative">
          <!--
          <div class="trash" (click)="deleteAddress (type)" *ngIf="address && transport.isMultipoint">
            <ion-icon name="trash-outline"></ion-icon>
          </div>
          -->  
          <fieldset class="custom-control address" (click)="setAddress (type)">
              <legend *ngIf="type === 'origin'">Addresse d'enlèvement</legend>
              <legend *ngIf="type === 'destination'">Addresse de la livraison</legend>
              <div *ngIf="!address">Sélectionner</div>
              <div class="title" *ngIf="address">{{ address.name }}</div>
              <div *ngIf="address">{{ address.address }} {{ address.city }} {{ address.postcode }}</div>
          </fieldset>
          <div class="error" *ngIf="errors['address']">Veuiller saisir une addresse</div>
        </div>

        <div class="relative">
          <!--
          <div class="trash" *ngIf="false">
            <ion-icon name="trash-outline"></ion-icon>
          </div>
          -->
          <fieldset class="custom-control contact" (click)="setContacts ()">
            <legend>Contact</legend>
            <div *ngIf="!contacts?.length">Ajouter un contact</div>
            <div *ngFor="let contact of contacts; let index = index">
              <hr *ngIf="index > 0">
              <div class="title">{{ contact?.contact?.first_name }} {{ contact?.contact?.last_name }}</div>
              <div>
                {{ contact.contact.email }}
              </div>
            </div>
          </fieldset>
          <div class="error" *ngIf="contactsError">Veuiller saisir un ou plusieurs contacts</div>
        </div>
      </div>
      <ion-input
        label="Référence"
        label-placement="floating"
        fill="outline"
        shape="round"
        placeholder="Référence" 
        [formControl]="form.get('reference')">
      </ion-input>

      <div *ngIf="address">
        <h3 *ngIf="type === 'origin'">Date de l'enlèvement demandée</h3>
        <h3 *ngIf="type === 'destination'">Date de la livraison demandée</h3>

        <div class="slot date-and-time">
          <div>
            <div class="custom-control day" [class.error]="errors['day']" id="{{ type }}_day_select">
              <span *ngIf="!form.value.day">Selectionner</span>
              <span *ngIf="form.value.day">{{ formatDay(form.value.day) }}</span>
            </div>
            <div class="error" *ngIf="errors['day']">Veuiller saisir une date</div>
            <div class="error" *ngIf="isSlotExceeded (form?.value?.day)">Date dépassée</div>
          </div>

          <div>
            <div class="time">
              <div>Entre</div>
              <input type="time" [formControl]="form.get('time_start')" (change)="validateForm()">
              <!-- TODO: minTime >  originTimeStart -->
              <div class="ion-padding-start">Et</div>
              <input type="time" [formControl]="form.get('time_end')">
            </div>
            <div class="error" *ngIf="errors['time_start']">Veuiller saisir un horaire</div>
          </div>
          
          <div class="ion-hide">
            <ion-datetime-button datetime="{{ type }}_day"></ion-datetime-button>
          </div>

          <ion-modal [keepContentsMounted]="true" trigger="{{ type }}_day_select" #dayInput>
            <ng-template>
              <ion-datetime 
                id="{{ type }}_day" 
                presentation="date"
                [formatOptions]="{ date: { weekday: 'long', month: 'long', day: '2-digit' }}"
                (ionChange)="setDay(form, $event, dayInput)"
                [min]="getDateTimeMin(type)"
                [max]="getDateTimeMax(type)">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <h3>Options</h3>

        <ion-toggle labelPlacement="end" (ionChange)="setAskHandlers($event, form)" [checked]="form.value.handlers > 0">Demander un manutentionnaire en plus</ion-toggle><br>
        <div class="custom-control handlers" *ngIf="form.value.handlers > 0">
          <ion-icon name="trash-outline" (click)="resetHandlers (form)"></ion-icon>
          <div>{{ form.value.handlers }}</div>
          <ion-icon name="add-outline" (click)="addHandlers (form)"></ion-icon>
        </div>

        <ion-toggle labelPlacement="end" (ionChange)="setAskSecureGuarding($event, form)" [checked]="false">Option de gardiennage sécurisé</ion-toggle><br>

        <ion-input
          [label]="type === 'origin' ? 'Instructions à l\'enlèvement' : 'Instructions à la livraison'"
          label-placement="floating"
          fill="outline"
          shape="round"
          placeholder="{{ type === 'origin' ? 'Instructions à l\'enlèvement' : 'Instructions à la livraison' }}"
          [formControl]="form.get('instructions')">
        </ion-input>
      </div>
    </ng-template>
  </div>

<!-- TODO file upload -->
<ion-modal id="merchandise-modal" class="custom-big" [isOpen]="!!merchandiseEdit" (willDismiss)="setMerchandiseEdit(null)" #merchandiseModal>
  <ng-template>
    <div class="wrapper" [formGroup]="merchandiseForm" *ngIf="merchandiseForm">
      <ion-icon name="close-outline" class="ion-float-right" (click)="setMerchandiseEdit (null)"></ion-icon>
      <div class="title">Ajouter une marchandise</div>

      <ion-select label="Nature de la marchandise *" labelPlacement="floating" formControlName="description">
        <ion-select-option *ngFor="let merchandise of merchandises" [value]="merchandise">{{ merchandise }}</ion-select-option>
      </ion-select>
  
      <ion-input
        label="Informations complementaires"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Informations complementaires"
        formControlName="complementary_information">
      </ion-input>

      <ion-input
        label="Quantité"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Quantité"
        formControlName="quantity">
      </ion-input>

      <ion-input
        label="Poids total (kg)"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Poids total (kg)"
        formControlName="weight">
      </ion-input>

      <ion-input
        label="Volume total (m3)"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Volume total (m3)"
        formControlName="volume">
      </ion-input>

      <ion-input
        label="Mètres linéaires"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Mètres linéaires"
        formControlName="linear_meters">
      </ion-input>
      <br>
      <!--
      <ion-button (click)="deleteMerchandise(merchandiseForm.value.id, merchandiseModal)" fill="outline">Supprimer</ion-button>
      -->
      <ion-button (click)="setMerchandise(merchandiseModal)">Valider</ion-button>
    </div>
  </ng-template>
</ion-modal>
