<ion-content [fullscreen]="true">
  <div>
    <ion-icon name="close-outline" class="close-button" (click)="closeModal ()"></ion-icon>
    <h3>Selectionner une adresse</h3>
    <ion-spinner name="lines" *ngIf="isLoading"></ion-spinner>
    <div class="addresses">
      <div class="address" *ngFor="let address of addresses" (click)="onSubmit (address)">
        <!-- <ion-icon name="location-outline"></ion-icon> &nbsp; -->
        <div class="title">{{ address.name }}</div>
        <div class="body">{{ address.address }} {{ address.city }} {{ address.postcode }}</div>
      </div>
    </div>
  </div>
</ion-content>
