<ion-content>
  <div class="container">
    <div class="header ion-text-center" *ngIf="!iframeFullScreen">
      <img class="logo-monetico" src="assets/monetico-paiement.jpg" >

      <img class="logo-h24"
        src="https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/logo-noir-sur-fond-blanc.jpeg"
        alt="H24 Transports">
    </div>

    <div class="status" *ngIf="status">
      <div class="ion-text-center" *ngIf="status === 'ok'">
        <ion-icon name="checkmark-circle-outline" class="ok"></ion-icon><br>
        <h2 class="ion-text-center ion-text-uppercase">Paiement validé !</h2>
        <p>Votre paiement a été effectué avec succès</p>
        <p>Nous vous remercions de votre commande</p>
      </div>
      <div class="ion-text-center" *ngIf="status !== 'ok'">
        <ion-icon name="ban-outline" class="error"></ion-icon><br>
        <h2 class="ion-text-center">La transaction a échouée</h2>
      </div>
      <p class="ion-text-center">
        <ion-button routerLink="/private/tabs/home"><ion-icon name="home-outline"></ion-icon> &nbsp; Retour à l'acceuil</ion-button>
      </p>
    </div>

    <div class="request" *ngIf="!status">
      <div *ngIf="!iframeSrc">
        <h1 class="ion-text-center" style="padding-top: 0px;">Valider ma commande</h1>
        <br>
        <ion-item><ion-icon name="person-outline" size="large"></ion-icon> <ion-label class="ion-text-wrap">{{ paymentRequest.company }}</ion-label></ion-item>
        <ion-item><ion-icon name="exit-outline" size="large"></ion-icon> <ion-label class="ion-text-wrap">{{ paymentRequest.origin }}</ion-label></ion-item>
        <ion-item><ion-icon name="enter-outline" size="large"></ion-icon> <ion-label class="ion-text-wrap">{{ paymentRequest.destination }}</ion-label></ion-item>
        <ion-item><ion-icon name="logo-euro" size="large"></ion-icon> <ion-label class="ion-text-wrap">{{ paymentRequest.price }} € TTC</ion-label></ion-item>
        <br>
        <ion-toggle labelPlacement="end" class="ion-margin-start" (ionChange)="onPaymentExpressToggle($event)">Paiement express, sauvegarder ma CB</ion-toggle><br /><br />
        <form method="post" class="ion-text-center" action="{{ paymentRequest.paymentUrl }}" #paymentForm>
          <input type="hidden" [name]="field.key" [value]="field.value" *ngFor="let field of paymentRequest.formFields | keyvalue" />
          <br>
          <ion-button type="submit" class="mainbutton" (click)="pay(paymentForm)">
            <ion-icon name="logo-euro"></ion-icon> &nbsp; Payer
          </ion-button>
        </form>
        <br>
        <div class="ion-text-center">
          <ion-button size="small" (click)="payByIframe (false)">Payer via iFrame</ion-button>
          <ion-button size="small" (click)="payByIframe (true)">Payer via iFrame full screen</ion-button>
          <ion-button size="small" routerLink="/private/tabs/transports/checkout-delivery"
            [queryParams]="{'transport': transportId, 'status': 'ok' }">Success page</ion-button>
          <ion-button size="small" routerLink="/private/tabs/transports/checkout-delivery"
            [queryParams]="{'transport': transportId, 'status': 'err' }">Error page</ion-button>
            <br>
            <br>
        </div>
      </div>
      <iframe [src]="iframeSrc" class="{{ iframeFullScreen ? 'fullscreen' : 'normal' }}"
        id="idFramePaiement"
        name="nomFramePaiement"
        frameborder="0"
        width="100%" height="100%"
        *ngIf="iframeSrc"></iframe>
    </div>
  </div>
</ion-content>