<app-header defaultHref="/private/tabs/transports"></app-header>


<ion-content>
  <div class="container">
    <div class="back-button" routerLink="/private/tabs/transports"><ion-icon name="chevron-left"></ion-icon> &nbsp; Retour aux transports en cours</div>
    <div class="company-name">{{ companyService.currentCompany?.name }}</div>
    <div class="card">
      <div id="map-container">
        <div id="{{ mapId }}"></div>
      </div>

      <div [ngTemplateOutlet]="transportMobileTpl" [ngTemplateOutletContext]="{ transport }" *ngIf="transport && config.isMobile"></div>
      <div [ngTemplateOutlet]="transportDesktopTpl" [ngTemplateOutletContext]="{ transport }" *ngIf="transport && config.isDesktop"></div>

      <div class="documents pointer" *ngIf="transport && transport.documents?.length > 0">
        <h2>Documents</h2>
        <ion-item *ngFor="let document of transport.documents" (click)="openFile(document.file)" class="ion-no-padding ion-no-margin">
          <ion-label><p>{{ getDate(document.file_updated_date) }} - {{document.name}}</p></ion-label>
          <ion-icon [name]="'download'" slot="end"></ion-icon>
        </ion-item>
      </div>

      <div class="messages pointer" *ngIf="transport?.messages?.length > 0">
        <h2>Messages</h2>
          <div class="message" *ngFor="let message of getAllMessages (transport)">
            <ion-item lines="none" class="ion-no-padding" (click)="openMessage(message, message.created)">
              <ion-thumbnail slot="start">
                <img alt="" [src]="message.document"  *ngIf="isImage (message)" />
                <ion-icon name="document-text-outline" *ngIf="!isImage (message)"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                {{ getDate(message.created) }} - {{ getHour(message.created) }} <span *ngIf="message.reference">- {{ message.reference }}</span>
              </ion-label>
            </ion-item>
          </div>
      </div>

      <div class="attachments" (click)="askFileToUpload ()">
        <ion-icon name="download-outline"></ion-icon>

        <div>
          Joindre un fichier à la demande<br>
          <i>Taille du fichier : 10Mo max .jpeg, .png, .pdf, .doc, .xls</i>
        </div>

        <input id="file-upload" class="ion-hide" type="file" multiple="true" accept=".pdf,.jpg,.jpeg,.png,.doc,.docx,.xls,.xslx,.webp" (change)="onUploadFile($event)" />
      </div>
    </div>
  </div>
</ion-content>

<ng-template #transportMobileTpl let-transport="transport">
  <div class="two-columns">
    <div>
      <div class="title">Type de transport</div>
      <div class="value">Audio visuel <!-- TODO {{ typeName[transport.type] }} --></div>
    </div>
    <div>
      <div class="title">Vehicule</div>
      <div class="value">{{ transport.licensePlate || transport.vehicle || 'Non déterminé' }}</div>
    </div>
  </div>
  <div class="two-columns">
    <div class="address" *ngFor="let step of getAllDeliveries(transport); let index = index; let first = first; let last = last">
      <div class="title">{{ getSitePrefix (transport, index, first, last) }}</div>
      <div class="name">{{ step?.address?.name }}</div>
      <div class="city">{{ step?.address?.address }} <br> {{ step?.address?.postcode }} {{ step?.address?.city }}</div>
      <div class="options">
        <div *ngIf="step.handlers">{{ step.handlers }} manutentionnaires</div>
        <div *ngIf="step.guarding">Gardiennage sécurisé</div>
      </div>
    </div>
  </div>
  <div class="two-columns">
    <div><div class="title">Date</div><div>{{ getOriginDate(transport) }}</div></div>
    <div><div class="title">Date</div><div>{{ getDestinationDate(transport) }}</div></div>
  </div>
  <div class="two-columns">
    <div>
      <div class="title">Marchandises</div>
      <div class="value">{{ getAllPlannedLoads (transport) }}</div>
    </div>
    <div>
      <div class="title">Contact</div>
      <div class="value">{{ getContacts (transport) }}</div>
    </div>
    <div *ngIf="transport.pricing_total_price">
      <div class="title">Prix</div>
      <div class="value">{{ transport.pricing_total_price }} €</div>
    </div>
    <div *ngIf="transport.carbon_footprint">
      <div class="title">Empreinte carbone</div>
      <div class="value">CO₂ {{ transport.carbon_footprint?.toFixed (2) }}Kg</div>
    </div>
  </div>
</ng-template>

<ng-template #transportDesktopTpl let-transport="transport">
  <div class="four-columns">
    <div>
      <div class="title">Type de transport</div>
      <div class="value">Audio visuel <!-- TODO {{ typeName[transport.type] }} --></div>
    </div>
    <div>
      <div class="title">Vehicule</div>
      <div class="value">{{ transport.licensePlate || transport.vehicle || 'Non déterminé' }}</div>
    </div>
    <div>
      <div class="title">Marchandises</div>
      <div class="value">{{ getAllPlannedLoads (transport) }}</div>
    </div>
    <div>
      <div class="title">Contact</div>
      <div class="value">{{ getContacts (transport) }}</div>
    </div>
  </div>
  <div class="four-columns">
    <div class="address" *ngFor="let step of getAllDeliveries(transport); let index = index; let first = first; let last = last">
      <div class="title">{{ getSitePrefix (transport, index, first, last) }}</div>
      <div class="name">{{ step?.address?.name }}</div>
      <div class="city">{{ step?.address?.address }} <br> {{ step?.address?.postcode }} {{ step?.address?.city }}</div>
      <div class="options">
        <div *ngIf="step.handlers">{{ step.handlers }} manutentionnaires</div>
        <div *ngIf="step.guarding">Gardiennage sécurisé</div>
      </div>
    </div>
  </div>
  <div class="four-columns">
    <div><div class="title">Date</div><div>{{ getOriginDate(transport) }}</div></div>
    <div><div class="title">Date</div><div>{{ getDestinationDate(transport) }}</div></div>
    <div *ngIf="transport.pricing_total_price">
      <div class="title">Prix</div>
      <div class="value">{{ transport.pricing_total_price }} €</div>
    </div>
    <div *ngIf="transport.carbon_footprint">
      <div class="title">Empreinte carbone</div>
      <div class="value">CO₂ {{ transport.carbon_footprint?.toFixed (2) }}Kg</div>
    </div>
  </div>
</ng-template>