ion-title {
    // transform: scale(1);
    transition: all .2s ease;
    text-align: center;
    font-size: 1rem;
    &.active {  
        // color: var(--ion-color-success);
        font-size: 1.2rem;
        // transform: scale(1.2);
        
    }
}

ion-buttons {
    ion-back-button {
        margin-right: -1em;
    }
}

.call {
    border: 1px solid #c8c8c8;
    border-radius: 100%;
    width: 44px !important;
    height: 44px !important;
    margin-top: 13px !important;
    margin-right: 10px !important;
}