<ion-header class="ion-no-border" *ngIf="config.isMobile">
  <ion-toolbar>
    <ion-buttons [slot]="slot" *ngIf="defaultHref">
      <ion-back-button [defaultHref]="defaultHref" text="" icon="chevron-left"></ion-back-button>
    </ion-buttons>
    <ion-title [class.active]="companyService.isCompanySwitch">
      {{title || (getcompanyName() | async) || 'H24 Transports'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="call" type="button" (click)="callTo()">
        <ion-icon name="call" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--
    <ion-buttons slot="end" (click)="signOut()">
      <ion-button type="button">
        <ion-icon name="power" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="config.isDesktop">
  <ion-toolbar>
      <div class="menu">
        <div (click)="goto('/private/tabs/home')">
          <ion-img src="assets/logo-h24-noir-fond-blanc.jpeg" class="toolbar-header-logo" slot="start" alt="H24 Transports"></ion-img>
        </div>
        <div [class.active]="isActive ('/tabs/home')" (click)="goto('/private/tabs/home')">
          <ion-icon name="home"></ion-icon> Home
        </div>
        <div [class.active]="isActive ('/tabs/transports/basket')" (click)="goto('/private/tabs/transports/basket')" [class.disabled]="!config.currentCompany">
          <ion-icon name="cart-outline"></ion-icon> Panier
        </div>
        <div [class.active]="isActive ('/tabs/transports/(deliveries|new-order)')" (click)="goto('/private/tabs/transports/deliveries')" [class.disabled]="!config.currentCompany">
          <ion-icon name="truck"></ion-icon> Transport
        </div>
      </div>
      <div class="client" (click)="goto('/private/tabs/profile')" slot="end">
        <ion-icon class="toggle" name="person-circle" (click)="toggleShowClientMenu()"></ion-icon>
        <ion-icon class="chevron" name="chevron-down"></ion-icon>
      </div>
  </ion-toolbar>
</ion-header>
<!--
<div class="client-menu" *ngIf="showClientMenu">
  <app-profile></app-profile>
</div>
-->

