<app-header></app-header>

<ion-content>
  <ion-grid class="page-grid">
    <ion-row>
      <ion-col>
        <h2>Transports</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment value="all" mode="ios" (ionChange)="filterChanged($event)" value="all" #filter>
          <ion-segment-button color="primary" value="all">
            <ion-label>Tous</ion-label>
          </ion-segment-button>
          <ion-segment-button color="primary" value="accepted">
            <ion-label>Validé(s)</ion-label>
          </ion-segment-button>
          <ion-segment-button color="primary" value="ongoing">
            <ion-label>En cours</ion-label>
          </ion-segment-button>
          <ion-segment-button color="primary" value="done">
            <ion-label>Terminé(s)</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isLoading">
      <ion-col class="ion-text-center">
        <ion-spinner  color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && deliveries.length <= 0">
      <ion-col>
        <p class="ion-text-center">
          Vous n'avez pas de demande de transports
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="noFilter">
      <ion-col>
        <p class="ion-text-center">
          Vous n'avez pas de transport(s) avec ce status
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && deliveries.length > 0">
      <ion-col>
        <ion-accordion-group>
          <ion-item-sliding #slidingItem *ngFor="let item of jsonData">
            <ion-text *ngIf="noFilter">Vous n'avez pas de transport avec ce status</ion-text>
            <ion-item-options side="start" (click)="onDetail(item.uid, slidingItem)">
              <ion-item-option color="success">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-accordion  [value]="item.uid" >
              <ion-item slot="header">
                <div class="accordion-header">
                  <div class="accordion-row">
                    <ion-label>
                      <h3>{{item.shipper_reference || 'Pas de référence'}}</h3>
                    </ion-label>
                    <ion-badge [class]="'status-'+item.global_status" slot="end">{{getStatus(item.global_status)}}</ion-badge>
                  </div>
                  <div class="accordion-row accordion-row-destination">
                    <ion-label class="centered-label" color="secondary">
                      {{getDate(item.deliveries, 'origin')}} <ion-icon name="arrow-forward-outline"></ion-icon> {{getDate(item.deliveries, 'destination')}}
                    </ion-label>
                  </div>
                  <div class="accordion-row accordion-row-price" *ngIf="item.pricing_total_price">
                    <ion-label color="secondary">
                      {{item.pricing_total_price | priceFormat }} € HT
                    </ion-label>
                  </div>
                </div>
              </ion-item>
              <ion-item class="content ion-no-padding" slot="content">
                <ion-label class="ion-padding-start ion-padding-end origin-address">
                  <p class="ion-no-margin ion-text-truncate"  color="primary">
                    <ion-text color="primary"><span>Enlèvement:</span> {{getAddress(item.deliveries, 'origin')}}</ion-text>
                  </p>
                  <p class="ion-no-margin ion-text-truncate"  color="primary">
                    <ion-text color="primary"><span>Livraison:</span> {{getAddress(item.deliveries, 'destination')}}</ion-text>
                  </p>
                </ion-label>
              </ion-item>
            </ion-accordion>


          </ion-item-sliding>
        </ion-accordion-group>

        <ion-infinite-scroll #infiniteScroll threshold="0" (ionInfinite)="loadMoreData($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" [routerLink]="['/private/tabs/transports/new-delivery/vehicle-choice']">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
