ion-segment-button {
  --background-checked: var(--ion-color-primary);
  --color-checked: var(--ion-color-primary-contrast);
  --indicator-color : var(--ion-color-primary)!important;
}

.accordion-header {
  width: 100%;
  padding: 10px 0;
  .accordion-row {
    display: flex;
    justify-content: space-between;
    &-destination {
      margin-top: 10px;
      font-size: 14px;
    }
    &-price {
      font-size: 16px;
      margin-top: 10px;
    }
    h3 {
      font-weight: bold;
    }
  }
}

.centered-label {
  gap: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.origin-address {
  span {
    font-weight: 700;
  }
}

.h24loader {
  filter: invert(100%);
  position: relative;
  background-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin-top: 1.5rem;
  transform: translateX(0);
  &::before, &::after {
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
  }
}

.endOfList {
  text-align: center;
  font-weight: 600;
  font-size: .7rem;
}

.accordion-row-price {
  font-weight: 500;
  ion-label {
    min-width: 30%;
  }
  p {
    color: var(--ion-color-base);
    font-weight: 400;
  }
}


.reset-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
  button {
    background: var(--ion-color-primary);
    color: #fff;
    border-radius: .7rem;
    min-width: 123px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 0 1rem;
  }
}
