.tabs {
    & {
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid #d9d9d9;
    }

    .tab {
        flex-basis: 50%;
        text-align: center;
        padding: 30px 20px 10px 20px;
    }

    .tab.active {
        border-bottom: 4px solid #070707;
        font-weight: bold;
    }

    .tab > span {
        position: relative;
    }

    ion-badge {
        position: absolute;
        top: -15px;
        right: -30px;
        min-width: 0;
    }
}

ion-accordion-group {
    padding-left: 20px;
    padding-right: 20px;
}

ion-accordion {
    & {
        border: 1px solid lightgray;
        border-radius: 15px;
        padding: 10px 20px 10px 10px;
        margin-top: 20px;
    }
}

ion-button {
    display: block;
}

.two-columns {
    & {
        display: flex;
        flex-wrap: wrap;
        font-size: 10pt;
    }

    & > div {
        flex: 1 1 50%;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .title {
        color: #9c9c9c;
        margin-bottom: 5px;
    }
}

.four-columns {
    & {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 10pt;
    }

    & > div {
        flex-basis: 25%;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .title {
        color: #9c9c9c;
        margin-bottom: 5px;
    }
}

.address .name {
    font-weight: bold;
}

ion-modal {
    .buttons {
      display: flex;
      justify-content: space-between;
    }

    ion-button {
      flex-grow: 1;
    }
}

.h24loader {
    filter: invert(100%);
    position: relative;
    background-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin-top: 1.5rem;
    transform: translateX(0);
    &::before, &::after {
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
    }
}

.transport-infos {
    color: #9c9c9c;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
        margin: auto;
    }
}