ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-button {
    display: block;
}

.address {
    .title {
        font-weight: bold;
    }
}

.delivery {
    margin-top: 15px;
    margin-right: 35px;
    padding: 15px;
    border: solid black 1px;
    border-radius: 15px;
    cursor: pointer;
}

.delivery:active {
    background-color: black;
    color: white;
}

hr {
    border-top: 1px solid lightgray;
}

ion-badge {
    min-width: 0;
}

.relative {
    position: relative;
}

.trash {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.trash ion-icon {
    font-size: 25px;
}

.error {
    position: relative;
    top: calc(100% + 1lh);
    color: red;
    margin-left: 10px;
    margin-top: 5px;
}
