<app-header [defaultHref]="'/private/tabs/transports/new-order/vehicle-choice'" title="Créer une commande"></app-header>

<ion-content>
  <!-- TODO <app-progress-bar [current]="0.5" [next]="0.7" ></app-progress-bar> -->

  <div *ngIf="transport.isMultipoint">
    <h3>Enlèvement / Livraison</h3>

    <div class="relative" *ngFor="let delivery of transport.deliveries; let index = index" (click)="addDelivery (delivery)">
      <div class="trash" (click)="deleteDelivery ('origin', delivery)">
        <ion-icon name="trash-outline"></ion-icon>
      </div>
      <div class="delivery">
        <ion-badge class="ion-float-right">{{ index + 1 }}</ion-badge>
        <div [ngTemplateOutlet]="address" [ngTemplateOutletContext]="{ address: delivery.origin?.address }"></div>
        <hr>
        <div [ngTemplateOutlet]="address" [ngTemplateOutletContext]="{ address: delivery.destination?.address }"></div>
      </div>
      <div class="error" *ngIf="isMultipointDeliveryInvalid (index)">L'horaire d'enlèvement n'est pas valide</div>
    </div>
    <br>
    <ion-button fill="outline" (click)="addDelivery ()"><ion-icon name="add-outline"></ion-icon> &nbsp; Ajouter une adresse d'enlèvement / livraison</ion-button>
  </div>

  <div *ngIf="!transport.isMultipoint">
    <h3>Enlèvements</h3>

    <div class="relative" *ngFor="let delivery of origins; let index = index" (click)="addDelivery (delivery)">
      <div class="trash" (click)="deleteDelivery ('origin', delivery)">
        <ion-icon name="trash-outline"></ion-icon>
      </div>
      <div class="delivery">
          <ion-badge class="ion-float-right">{{ index + 1 }}</ion-badge>
          <div [ngTemplateOutlet]="address" [ngTemplateOutletContext]="{ address: delivery.origin?.address }"></div>
      </div>
    </div>
    <br>
    <ion-button fill="outline" (click)="addDelivery (null, 'origin')" [disabled]="addOriginDisabled ()"><ion-icon name="add-outline"></ion-icon> &nbsp; Ajouter une addresse d'enlèvement</ion-button>
    <br>
    <br>
    <h3>Livraisons</h3>

    <div class="relative" *ngFor="let delivery of destinations; let index = index" (click)="addDelivery (delivery)">
      <div class="trash" (click)="deleteDelivery ('destination', delivery)">
        <ion-icon name="trash-outline"></ion-icon>
      </div>
      <div class="delivery">
        <ion-badge class="ion-float-right">{{ index + 1 }}</ion-badge>
        <div [ngTemplateOutlet]="address" [ngTemplateOutletContext]="{ address: delivery.destination?.address }"></div>
      </div>
    </div>
    <br>
    <ion-button fill="outline" (click)="addDelivery (null, 'destination')" [disabled]="addDestinationDisabled ()"><ion-icon name="add-outline"></ion-icon> &nbsp; Ajouter une addresse de livraison</ion-button>
  </div>
  <br>
  <ion-button (click)="onSubmit ()">Suivant &nbsp; <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  <br>
</ion-content>

<ng-template #address let-address="address">
  <div class="address">
    <div class="title">{{ address.name }}</div>
    <div class="city">{{ address.city }} {{ address.postcode }}</div>
  </div>
</ng-template>