.container {
    font-size: 14px;
}

ion-button {
    display: block;
}

.address {
    & {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: #070707;
        font-size: 14px;
    }
    .title {
        font-weight: 700;
    }
    & > div {
        flex-grow: 1;
    }
    ion-badge.index {
        font-size: 13px;
        color: white;
        background-color: #070707;
        margin-right: 20px;
    }
    ion-badge.origin {
        color: #2B6DEF;
        background-color: #99BAFD;
        font-size: 12px;
        font-weight: 400;
    }
    ion-badge.destination {
        color: #00BA51;
        background-color: #8BFBBB;
        font-size: 12px;
        font-weight: 400;
    }
}

.delivery {
    margin-right: 35px;
    padding: 15px;
    border: solid black 1px;
    border-radius: 15px;
    cursor: pointer;
}

.delivery.multipoint {
    & {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    & > div {
        flex-grow: 1;
    }

    ion-badge {
        margin-right: 20px;
    }
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

hr {
    border-top: 1px solid lightgray;
}

ion-badge {
    min-width: 0;
}

.relative {
    position: relative;
}

.trash {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.with-trash {
    & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 15px;
    }

    & > .delivery {
        flex-grow: 1;
    }
}

.trash ion-icon {
    font-size: 25px;
}

.error {
    color: red;
    margin-top: 5px;
}

.deliveries .error {
    margin-left: 10px;
}

@media (max-width: 768px) {
    ion-content {
        --padding-start: 20px;
        --padding-end: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        & {
            display: flex;
            height: 100%;
        }

        .index {
            flex-shrink: 0;
            margin-left: 15px;
            margin-right: 30px;
            overflow: auto;
        }
    
        .page {
            flex-grow: 1;
            height: 100%;
        }

        .page > * {
            height: 100%;
        }

        .summary {
            & {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
            }

            .summary-back {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
                padding-top: 20px;
                cursor: pointer;
            }
        }
    }

    app-summary-component {
        display: block;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    app-summary-component {
        padding-right: 30%;
    }
}