<app-header [defaultHref]="'/private/tabs/home'" title="Panier"></app-header>

<ion-content>
  <div class="tabs">
    <div class="tab pointer" [class.active]="tab === 1" (click)="setTab(1)">
      <span>
        <ion-badge color="danger" *ngIf="deliveries?.length">{{ deliveries.length}}</ion-badge>
        <span>En attente</span>
      </span>
    </div>
    <div class="tab pointer" [class.active]="tab === 2" (click)="setTab(2)">
      <span>
        <ion-badge  color="warning" *ngIf="draftsName?.length">{{ draftsName.length }}</ion-badge>
        <span>Brouillons</span>
      </span>
    </div>
  </div>

  <div *ngIf="tab === 1">
    <ion-accordion-group value="a0" #accordionGroup>
      <div *ngFor="let delivery of deliveries; let index = index">
        <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ delivery, index }"></div>
      </div>
    </ion-accordion-group>

    <ion-infinite-scroll #infiniteScroll threshold="0" (ionInfinite)="loadMoreDeliveries($event)" >
      <ion-infinite-scroll-content loadingSpinner="none" *ngIf="deliveries?.length && !apiTransport.isTransportLastPageReached">
          <div class="h24loader" ></div>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="tab === 2">
    <ion-accordion-group #accordionDraftGroup>
      <div *ngFor="let draft of draftsName; let index = index">
        <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ delivery: drafts[draft], draftname: draft, draft: true, index }"></div>
      </div>
    </ion-accordion-group>  
  </div>
  <ion-button fill="outline" id="draft-delete" class="ion-hide">Supprimer ma demande</ion-button>
</ion-content>

<ng-template #deliveryTpl let-delivery="delivery" let-draft="draft" let-draftname="draftname" let-index="index">
  <ion-accordion class="delivery" value="a{{ index }}">
    <ion-item slot="header" color="light" lines="none">
      <ion-chip slot="end" *ngIf="delivery.status && delivery.status !== 'invoice'">{{ statuses[delivery.status] || delivery.status }}</ion-chip>
      <ion-chip slot="end" color="danger" *ngIf="delivery.status && delivery.status === 'invoice'">En attente</ion-chip>
      <ion-chip slot="end" color="warning" *ngIf="draftname">Brouillon</ion-chip>
      <div>
        {{ draftname || delivery?.shipper_reference || 'Demande' }} <span class="price" *ngIf="delivery.pricing_total_price"> - {{ delivery.pricing_total_price }} €</span><br>
        <span class="delivery-infos">
          {{ getHeaderDay (delivery.created) }}
          <span *ngIf="delivery.carbon_footprint"> - CO₂ {{ delivery.carbon_footprint?.toFixed (2) }}Kg</span>
        </span>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="content">
        <div>
          <div>
            <div class="title">Type de transport</div>
            <div class="value">Audio visuel <!-- TODO {{ typeName[delivery.type] }} --></div>
          </div>
          <div>
            <div class="title">Enlèvement</div>
            <div class="value" [ngTemplateOutlet]="addressTpl" [ngTemplateOutletContext]="{ address: getOrigin (delivery)?.address }"></div>
          </div>
          <div>
            <div class="title">Marchandises</div>
            <div class="value">{{ getAllPlannedLoads (delivery) }}</div>
          </div>
        </div>
        <div>
          <div>
            <div class="title">Vehicule</div>
            <div class="value">{{ delivery.requested_vehicle || 'Non déterminé' }}</div>
          </div>
          <div>
            <div class="title">Livraison</div>
            <div class="value" [ngTemplateOutlet]="addressTpl" [ngTemplateOutletContext]="{ address: getDestination (delivery)?.address }"></div>
          </div>
          <div>
            <div class="title">Contact</div>
            <div class="value">{{ getContacts (delivery) }}</div>
          </div>
        </div>
      </div>
      <br>
      <!-- <ion-button routerLink="/private/tabs/transports/checkout-delivery" [queryParams]="{ transport: delivery.uid }" *ngIf="!draft">Paiement</ion-button> -->
      <ion-button fill="outline" (click)="gotoDraft (draftname)" *ngIf="draft">Reprendre ma demande</ion-button>
      <ion-button fill="outline" (click)="onDraftDeleteRequest ()" *ngIf="draft">Supprimer ma demande</ion-button>
    </div>

  </ion-accordion>
</ng-template>

<ion-modal class="custom" trigger="draft-delete" #draftDeleteModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="draftDeleteModal.dismiss ()"></ion-icon>
      <div class="title">Etes vous sûr de vouloir <br> supprimer votre demande</div>
      <br>
      <div class="buttons">
        <ion-button (click)="draftDeleteModal.dismiss ()">Non</ion-button>
        <ion-button fill="outline" (click)="onDraftDelete (null, draftDeleteModal)">Oui</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ng-template #addressTpl let-address="address">
  <div class="address">
    <div class="name">{{ address?.name }}</div>
    <div class="city">{{ address?.address }} <br> {{ address?.postcode }} {{ address?.city }}</div>
  </div>
</ng-template>
