<app-header [defaultHref]="'/private/tabs/transports/new-order/vehicle-choice'" title="Créer une commande"></app-header>

<ion-content>
  <div class="container">
    <h3>Choisissez votre type de transport</h3>
    <br>
    <h4>Plusieurs enlèvement(s) pour une livraison ou inverssement</h4>
    <ion-img src="assets/multipoint-disabled.png" (click)="setMultipoint (false)"></ion-img>
    <h4>Un ou plusieurs enlèvement(s) pour une ou plusieurs livraison(s)</h4>
    <ion-img src="assets/multipoint-enabled.png" (click)="setMultipoint (true)"></ion-img>
    <!--
    <h4>Auto detection transport multipoint</h4>
    <ion-button (click)="setMultipoint (null)">Selectionner</ion-button>
    -->
  </div>
</ion-content>
