ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}

.header-logo {
  width: 32px;
  padding-top: 20px;
}

.logo-container {
  background-color: #FFF;
}

.title {
  margin-top: 100px;
  font-size: 22pt;
  font-weight: 500;

  .bonjour {
    color: var(--ion-color-medium);
  }

  .name:first-letter {
    text-transform: uppercase;
  }
}

.logo-container {
  text-align: center;
}

ion-button {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

ion-select, ion-select-option, ion-item {
  & {
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 20px;
  }
}