<app-header></app-header>

<ion-content>
  <form class="ion-padding-start ion-padding-end ion-padding-bottom">
    <!--
    <div class="logo-container ion-margin-bottom">
      <img class="header-logo" src="https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/logo-noir-sur-fond-blanc.jpeg" alt="H24 Transports">
    </div>
    -->

    <div class="title"><span class="bonjour">Bonjour</span> <br> <span class="name">{{firstname}},</span></div>
    <br>
    <ion-text class="intro">
      Avant de commencer, veuillez selectionner le donneur d'ordres: 
    </ion-text>
    <br>
    <br>
    <br>
    <ion-select #companyChoose name="company" 
      placeholder="Société"
      interface="popover"
      okText="Valider"
      cancelText="Annuler"
      label-placement="floating"
      (ionChange)="onchooseCompany($event)"
      [(ngModel)]="selectedCompanyId">
      <ion-select-option *ngFor="let company of loadedCompanies" [value]="company.pk">{{company.name}}</ion-select-option>
      <ion-icon color="primary" name="chevron-down" slot="end" (click)="openSelect()"></ion-icon>
    </ion-select>

    <ion-button (click)="onNewOrder ()" [disabled]="!isCompanySelected">
      Créer une demande &nbsp;
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>

    <ion-button fill="outline" shape="round" [routerLink]="['/private/tabs/transports/deliveries']" [disabled]="!isCompanySelected">
      <ion-text>Suivis mes transports</ion-text>
    </ion-button>

    <ion-button fill="outline" shape="round" [routerLink]="['/private/tabs/profile/address']" [disabled]="!isCompanySelected">
      <ion-text>Mes adresses</ion-text>
    </ion-button>
  </form>

</ion-content>
