ion-content {
  --padding-top: 56px;
}

.header-logo {
  width: 106px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  span {
    color: var(--ion-color-medium);
  }
}

ion-button {
  --padding-end: 4px;
  --padding-start: 4px;
  ion-text {
    margin-left: 6px;
  }
}
