ion-content {
  --padding-top: 56px;
}

.header-logo {
  width: 106px;
  height: auto;
}

.title {
  font-size: 20px;
  font-weight: 500;
  span {
    color: var(--ion-color-medium);
  }
}

.logo-container {
  text-align: center;
}

ion-button {
  --padding-end: 10px;
  --padding-start: 10px;
  ion-text {
    margin-left: 5px;
  }
}

ion-card {
  background: #E9E9E8;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  position: relative;
  flex: 1;
}

ion-icon {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
  ion-button {
    width: fit-content;
    margin: 0 auto;
  }
}