ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-button {
    display: block;
}

ion-input, ion-select {
    margin-top: 25px;
}

.container {
    padding: 20px;
    overflow-y: scroll;
}