<app-header *ngIf="!isModal" [defaultHref]="'/private/tabs/profile/details'"></app-header>

<div class="container">
  <ion-icon name="close-outline" class="ion-float-right" (click)="cancel()"></ion-icon>
  <div class="title">Ajouter une adresse</div>
  <form [formGroup]="form">
    <ion-input type="text" label="Nom de l'adresse" labelPlacement="floating" fill="outline" shape="round" errorText="Merci d'indiquer un nom" formControlName="name"></ion-input>
    <ion-input type="text" label="Adresse" labelPlacement="floating" fill="outline" shape="round" errorText="Merci d'indiquer l'adresse postale" formControlName="address"></ion-input>
    <ion-input type="text" label="Code postal" labelPlacement="floating" fill="outline" shape="round" errorText="Merci d'indiquer le code postal" formControlName="postcode"></ion-input>
    <ion-input type="text" label="Ville" labelPlacement="floating" fill="outline" shape="round" errorText="Merci d'indiquer la ville" formControlName="city"></ion-input>
    <ion-select #countryChoose label-placement="floating" interface="popover" okText="Valider" cancelText="Annuler" errorText="Merci d'indiquer le pays" class="ion-no-margin ion-no-padding" formControlName="country">
      <ion-select-option *ngFor="let country of countries" [value]="country.key">{{country.value}}</ion-select-option>
      <ion-icon color="primary" name="chevron-down" slot="end" (click)="countryChoose.open ()"></ion-icon>
    </ion-select>
    <ion-input type="text" label="Instructions" labelPlacement="floating" fill="outline" shape="round" helperText="Indication supplementaire (Facultatif)" formControlName="instructions"></ion-input>
    <br>
    <ion-button type="submit" [disabled]="!form.valid" class="ion-margin-top ion-margin-bottom" (click)="onSubmit()">
      Ajouter
    </ion-button>
  </form>
</div>