
.steps-container {
    & {
        width: 300px;
        border: 1px solid;
        border-radius: 15px;
        padding: 50px 30px 80px 30px;
        background-color: black;
        color: white;
        font-size: 11pt;
        width: 100%;
    }

    & > div {
        position: relative;
        border-top: 2px dotted #22C452;
    }

    .steps {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        transform: translate(0, -12px);
    }

    .step {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .label {
        margin-top: 10px;
        text-align: center;
        font-family: sans-serif;
    }

    .bullet {
        margin: 0;
        padding: 0;
        border: 1px solid black;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
    }

    .bullet > div {
        margin: 0;
        padding: 0;
        border-radius: 15px;
        background-color: black;
        width: 15px;
        height: 15px;
        box-sizing: content-box;
    }

    .bullet.active {
        & > div {
            background-color: #22C452;
            backdrop-filter: blur(4px);
        }
    }
}

@media (max-width: 768px) {
    .create-order {
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
        margin: auto;
    }

    .create-order {
        position: absolute;
        width: calc((100% - 800px)/2);
        top: 20px;
        right: 20px;
    }
}