<app-header [defaultHref]="'/private/tabs/home'" title="Transports"></app-header>

<ion-content>
  <div class="tabs">
    <div class="tab pointer" [class.active]="tab === 1" (click)="setTab(1)">
      <span>
        <ion-badge *ngIf="deliveries1">{{ deliveries1 }}</ion-badge>
        <span>En cours</span>
      </span>
    </div>
    <div class="tab pointer" [class.active]="tab === 2" (click)="setTab(2)">
      <span>
        <ion-badge *ngIf="false">1</ion-badge>
        <span>Historique</span>
      </span>
    </div>
  </div>

  <div *ngIf="tab === 1 || tab === 2">
    <ion-accordion-group value="aO" #accordionGroup>
      <div *ngFor="let delivery of deliveries; let index = index">
        <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ delivery, index }"></div>
      </div>
    </ion-accordion-group>

    <ion-infinite-scroll #infiniteScroll threshold="0" (ionInfinite)="loadMoreDeliveries($event)" >
      <ion-infinite-scroll-content loadingSpinner="none" *ngIf="deliveries?.length && !apiTransport.isTransportLastPageReached">
          <div class="h24loader" ></div>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="tab === 2">
  </div>
</ion-content>

<ng-template #deliveryTpl let-delivery="delivery" let-index="index">
  <ion-accordion class="delivery" value="a{{ index }}">
    <ion-item slot="header" color="light" lines="none">
      <ion-chip slot="end" *ngIf="delivery.status && delivery.status !== 'invoice'">{{ statuses[delivery.status] || delivery.status }}</ion-chip>
      <ion-chip slot="end" color="danger" *ngIf="delivery.status && delivery.status === 'invoice'">En attente</ion-chip>
      <div>
        {{ delivery?.shipper_reference || 'Demande' }}<br>
        <span class="delivery-infos">
          {{ getHeaderDay (delivery.created) }}
        </span>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div [ngTemplateOutlet]="statusTpl" [ngTemplateOutletContext]="{ status: getStatusIndex (delivery) }"></div>
      <br>
      <div class="two-columns">
        <div>
          <div class="title">Type de transport</div>
          <div class="value">Audio visuel <!-- TODO {{ typeName[delivery.type] }} --></div>
        </div>
        <div>
          <div class="title">Vehicule</div>
          <div class="value">{{ delivery.requested_vehicle || 'Non déterminé' }}</div>
        </div>
      </div>
      <div class="two-columns">
        <div class="address" *ngFor="let step of getAllDeliveries(delivery.deliveries)">
          <div class="title">{{ step.title || 'En passant par' }}</div>
          <div class="name">{{ step?.address?.name }}</div>
          <div class="city">{{ step?.address?.address }} <br> {{ step?.address?.postcode }} {{ step?.address?.city }}</div>
        </div>
      </div>
      <div class="two-columns">
        <div><div class="title">Date</div><div>{{ getOriginDate(delivery) }}</div></div>
        <div><div class="title">Date</div><div>{{ getDestinationDate(delivery) }}</div></div>
      </div>
      <div class="two-columns">
        <div>
          <div class="title">Marchandises</div>
          <div class="value">{{ getAllPlannedLoads (delivery) }}</div>
        </div>
        <div>
          <div class="title">Contact</div>
          <div class="value">{{ getContacts (delivery) }}</div>
        </div>
        <div *ngIf="delivery.pricing_total_price">
          <div class="title">Prix</div>
          <div class="value">{{ delivery.pricing_total_price }} €</div>
        </div>
        <div *ngIf="delivery.carbon_footprint">
          <div class="title">Empreinte carbone</div>
          <div class="value">CO₂ {{ delivery.carbon_footprint?.toFixed (2) }}Kg</div>
        </div>
    </div>
      <br>
      <!--
      <ion-button fill="outline" routerLink="/private/tabs/transports/detail-delivery/{{ delivery.uid }}"><ion-icon name="add-outline"></ion-icon> &nbsp; Détails</ion-button>
      -->
    </div>
  </ion-accordion>
</ng-template>

<ng-template #addressTpl let-address="address">
  <div class="address">
    <div class="name">{{ address?.name }}</div>
    <div class="city">{{ address?.address }} <br> {{ address?.postcode }} {{ address?.city }}</div>
  </div>
</ng-template>

<ng-template #statusTpl let-status="status">
  <div class="steps-container">
    <div>
        <div class="steps">
            <div class="step">
                <div class="bullet" [class.active]="status >= 1"><div></div></div>
                <div class="label">Traitée</div>
            </div>
            <div class="step">
                <div class="bullet" [class.active]="status >= 2"><div></div></div>
                <div class="label">En cours <br> de livraison</div>
            </div>
            <div class="step">
                <div class="bullet" [class.active]="status >= 3"><div></div></div>
                <div class="label">Livrée</div>
            </div>
        </div>
    </div>
  </div>
</ng-template>