<app-header [defaultHref]="'/private'" title="Créer une commande"></app-header>


<ion-content scrollY="false">
  <app-type-choice-component *ngIf="config.isMobile"></app-type-choice-component>

  <div class="desktop" *ngIf="config.isDesktop">
    <div class="choice">
      <app-type-choice-component></app-type-choice-component>
    </div>
    <div class="choice" [class.hidden]="!transportService.type">
      <div class="chevron-right pointer"><ion-icon name="chevron-right"></ion-icon></div>
      <app-vehicle-choice-component></app-vehicle-choice-component>
    </div>
    <div class="choice" [class.hidden]="!transportService.vehicle">
      <div class="chevron-right pointer"><ion-icon name="chevron-right"></ion-icon></div>
      <app-multipoint-choice-component></app-multipoint-choice-component>
    </div>
  </div>
</ion-content>