<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item class="ion-no-margin ion-no-padding" lines="full">
    <ion-input labelPlacement="floating" label="Saisissez le nom de votre société" [(ngModel)]="company" placeholder="Votre Société"></ion-input>
  </ion-item>
  <p>
    <span><ion-icon name="information-circle"></ion-icon></span>
    Après vérification, vous serez recontacté dans les plus brefs délais pour valider le rattachement de votre compte utilisateur à ce nouveau compte client sociétaire.
  </p>
</ion-content>
