ion-content {
  --padding-top: 56px;
}
ion-thumbnail {
  --size: 140px;
  --border-radius: 8px;
  position: relative;
}

ion-grid {
  width: 100%;
}

.card-title {
  font-size: 16px;
  text-align: left;
} 

h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  color: #20201D;
}

ion-item {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding: 10px;
  position: relative;
  flex: 1;
  margin: 0;

  &[slot="header"] {
    ion-label {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.cards-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
}

ion-button {
  --padding-end: 10px;
  --padding-start: 10px;
  ion-text {
    margin-left: 5px;
  }
}

ion-label {
  font-size: 16px !important;
  font-weight: 400;

  span { font-weight: 700; }
  p {
    font-size: 16px !important;
    color: #20201D;
  }
}

.delivery-date-and-time {
  color: #4D4D4A;
}

.status {
  &-started { background-color: #8BC34A; }
  &-ended { background-color: #20201D; }
}

.image-label {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  bottom: 0;
  text-align: center;
  padding: 3px;
  width: 100%;
  border-radius: 0 0 6px 6px;
  left: 0;
  color: white;
  font-size: 12px;
  background: rgba(red(#20201D), green(#20201D), blue(#20201D), .8);
}

#map {
  display: block;
  width: 100%;
  height: 300px;
}

.instructions {
  white-space: wrap;
}