<app-header [defaultHref]="'/private/tabs/transports'"></app-header>

<ion-content>
  <ion-grid class="page-grid">
    <ion-row>
      <ion-col>
        <h2>Récapitulatif</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-img [src]="'https://h24-public-app.s3.eu-west-3.amazonaws.com/assets/global/img/cars/'+delivery.licensePlate+'.jpg'"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="delivery.deliveries.length <= 1">
          <ion-card>
            <ion-card-content>
              <h3 class="card-title">Enlèvements</h3>
              <p class="card-date" *ngIf="delivery.deliveries[0].origin.slots || delivery.deliveries[0].origin.slots.length > 0">
                <span>{{getDate(delivery.deliveries[0].origin.real_start || delivery.deliveries[0].origin.slots[0].start)}}</span> à <span>{{getHour(delivery.deliveries[0].origin.real_start || delivery.deliveries[0].origin.slots[0].start)}}</span>
              </p>
              <p class="card-date" *ngIf="!delivery.deliveries[0].origin.slots || delivery.deliveries[0].origin.slots.length <= 0">
                <span>Date: Planification en cours</span>
              </p>
              <div class="card-address">
                {{delivery.deliveries[0].origin.address.address}}<br>
                <span>{{delivery.deliveries[0].origin.address.postcode + delivery.deliveries[0].origin.address.city}}</span>
              </div>
              <div class="card-contact">
                <span>Contact : </span>**TODO**
              </div>
              <div class="card-loads" *ngIf="delivery.deliveries[0].loads.length > 0">
                <span>Chargement : </span>
                <span *ngFor="let load of delivery.deliveries[0].loads; let last = last">
                  {{load.description}}{{ !last ? ', ' : '' }}
                </span>

              </div>
              <div class="card-contact" *ngIf="delivery.deliveries[0].origin.instructions">
                <span>Instructions : </span>
                {{delivery.deliveries[0].origin.instructions}}
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <h3 class="card-title">Livraison</h3>
              <p class="card-date"  *ngIf="delivery.deliveries[0].destination.slots || delivery.deliveries[0].destination.slots.length > 0">
                <span>{{getDate(delivery.deliveries[0].destination.real_end || delivery.deliveries[0].destination.slots[0].end)}}</span> à <span>{{getHour(delivery.deliveries[0].destination.real_end || delivery.deliveries[0].destination.slots[0].end)}}</span>
              </p>
              <p class="card-date" *ngIf="!delivery.deliveries[0].destination.slots || delivery.deliveries[0].destination.slots.length <= 0">
                <span>Date: Planification en cours</span>
              </p>
              <div class="card-address">
                {{delivery.deliveries[0].destination.address.address}}<br>
                <span>{{delivery.deliveries[0].destination.address.postcode + delivery.deliveries[0].destination.address.city}}</span>
              </div>
              <div class="card-contact" *ngIf="delivery.deliveries[0].destination.instructions">
                <span>Instructions : </span>
                {{delivery.deliveries[0].destination.instructions}}
              </div>
            </ion-card-content>
          </ion-card>
        </div>


        <ion-accordion-group *ngIf="delivery.deliveries.length > 1">
          <ion-accordion *ngFor="let data of delivery.deliveries; let index = index;" [value]="'step-'+index">
            <ion-item slot="header">
              <ion-label>Etape {{index + 1}} - {{ !data.origin.real_start ? 'En cours' : 'Terminé'}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ng-container *ngIf="index === 0 || data.origin.real_start !== delivery.deliveries[index-1].origin.real_start">
                <ion-card>
                  <ion-card-content>
                    <h3 class="card-title">Enlèvements</h3>
                    <p class="card-date" *ngIf="data.origin.slots || data.origin.slots.length > 0">
                      <span>{{getDate(data.origin.real_start  || data.origin.slots[0].start)}}</span> à <span>{{getHour(data.origin.real_start || data.origin.slots[0].start)}}</span>
                    </p>
                    <p class="card-date" *ngIf="!data.origin.slots || data.origin.slots.length <= 0">
                      <span>Date: Planification en cours</span>
                    </p>
                    <div class="card-address">
                      {{data.origin.address.address}}<br>
                      <span>{{data.origin.address.postcode +' '+ data.origin.address.city}}</span>
                    </div>
                    <div class="card-contact">
                      <span>Contact : </span>**TODO**
                    </div>
                    <div class="card-loads" *ngIf="data.loads.length > 0">
                      <span>Chargement : </span>
                      <span *ngFor="let load of data.loads; let last = last">
                        {{load.description}}{{ !last ? ', ' : '' }}
                      </span>

                    </div>
                    <div class="card-contact" *ngIf="data.origin.instructions">
                      <span>Instructions : </span>
                      {{data.origin.instructions}}
                    </div>
                  </ion-card-content>
                </ion-card>
              </ng-container>
              <ng-container *ngIf="data.destination.real_end !== delivery.deliveries[index+1]?.destination.real_end || index === delivery.deliveries.length - 1">
                <ion-card>
                  <ion-card-content>
                    <h3 class="card-title">Livraison</h3>
                    <p class="card-date" *ngIf="data.destination.slots || data.destination.slots.length > 0">
                      <span>{{getDate(data.destination.real_end || data.destination.slots[0].end)}}</span> à <span>{{getHour(data.destination.real_end || data.destination.slots[0].end)}}</span>
                    </p>
                    <p class="card-date" *ngIf="!data.destination.slots || data.destination.slots.length <= 0">
                      <span>Date: Planification en cours</span>
                    </p>
                    <div class="card-address">
                      {{data.destination.address.address}}<br>
                      <span>{{data.destination.address.postcode +' '+ data.destination.address.city}}</span>
                    </div>
                    <div class="card-contact" *ngIf="data.destination.instructions">
                      <span>Instructions : </span>
                      {{data.destination.instructions}}
                    </div>
                  </ion-card-content>
                </ion-card>
              </ng-container>

            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div *ngIf="delivery.global_status === 'done'">
          <div class="images" *ngIf="delivery.messages.length > 0">
            <h2>Images Associées</h2>
            <ion-row>
              <ion-col *ngFor="let image of delivery.messages">
                <ion-item lines="none">
                  <div class="image-container">
                    <ion-thumbnail (click)="openImg(image.document, image.created)">
                      <img alt="" [src]="image.document" />
                      <div class="image-label">
                        {{ getDate(image.created) }} - {{ getHour(image.created) }}
                      </div>
                    </ion-thumbnail>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div class="documents" *ngIf="delivery.documents.length > 0">
            <ion-row>
              <ion-col>
                <h2>Documents Associés</h2>
                <ion-item *ngFor="let document of delivery.documents" (click)="openPdf(document.file)">
                  <ion-label> {{ getDate(document.file_updated_date) }} - {{document.name}} </ion-label>
                  <ion-icon [name]="'download'" slot="end"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <h2>Maps</h2>
        <div id="map"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
