ion-content {
  --padding-top: 56px;
}
ion-thumbnail {
  --size: 140px;
  --border-radius: 8px;
  position: relative;
}

.image-label {
  position: absolute;
  bottom: 3px;
  text-align: center;
  padding: 3px;
  width: 100%;
  left: 0;
  color: white;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
}
