<ion-content>
  <ion-grid class="page-grid">
    <ion-row>
      <ion-col>
        <h2>Récapitulatif</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-img [src]="'https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/global/img/cars/'+delivery.license_plate+'.jpeg'"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="delivery.deliveries.length <= 1">
          <ion-card>
            <ion-card-content>
              <h3 class="card-title">Enlèvements</h3>
              <p class="card-date">
                <span>{{getDate(delivery.deliveries[0].origin.real_start)}}</span> à <span>{{getHour(delivery.deliveries[0].origin.real_start)}}</span>
              </p>
              <div class="card-address">
                {{delivery.deliveries[0].origin.address.address}}<br>
                <span>{{delivery.deliveries[0].origin.address.postcode + delivery.deliveries[0].origin.address.city}}</span>
              </div>
              <div class="card-contact">
                <span>Contact : </span>**TODO**
              </div>
              <div class="card-loads" *ngIf="delivery.deliveries[0].loads.length > 0">
                <span>Chargement : </span>
                <span *ngFor="let load of delivery.deliveries[0].loads; let last = last">
                  {{load.description}}{{ !last ? ', ' : '' }}
                </span>

              </div>
              <div class="card-contact" *ngIf="delivery.deliveries[0].origin.instructions">
                <span>Instructions : </span>
                {{delivery.deliveries[0].origin.instructions}}
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <h3 class="card-title">Livraison</h3>
              <p class="card-date">
                <span>{{getDate(delivery.deliveries[0].destination.real_end)}}</span> à <span>{{getHour(delivery.deliveries[0].destination.real_end)}}</span>
              </p>
              <div class="card-address">
                {{delivery.deliveries[0].destination.address.address}}<br>
                <span>{{delivery.deliveries[0].destination.address.postcode + delivery.deliveries[0].destination.address.city}}</span>
              </div>
              <div class="card-contact" *ngIf="delivery.deliveries[0].destination.instructions">
                <span>Instructions : </span>
                {{delivery.deliveries[0].destination.instructions}}
              </div>
            </ion-card-content>
          </ion-card>
        </div>


        <ion-accordion-group *ngIf="delivery.deliveries.length > 1">
          <ion-accordion *ngFor="let delivery of delivery.deliveries; let index = index;" [value]="'step-'+index">
            <ion-item slot="header">
              <ion-label>Etape  {{index + 1}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-card>
                <ion-card-content>
                  <h3 class="card-title">Enlèvements</h3>
                  <p class="card-date">
                    <span>{{getDate(delivery.origin.real_start)}}</span> à <span>{{getHour(delivery.origin.real_start)}}</span>
                  </p>
                  <div class="card-address">
                    {{delivery.origin.address.address}}<br>
                    <span>{{delivery.origin.address.postcode +' '+ delivery.origin.address.city}}</span>
                  </div>
                  <div class="card-contact">
                    <span>Contact : </span>**TODO**
                  </div>
                  <div class="card-loads" *ngIf="delivery.loads.length > 0">
                    <span>Chargement : </span>
                    <span *ngFor="let load of delivery.loads; let last = last">
                      {{load.description}}{{ !last ? ', ' : '' }}
                    </span>

                  </div>
                  <div class="card-contact" *ngIf="delivery.origin.instructions">
                    <span>Instructions : </span>
                    {{delivery.origin.instructions}}
                  </div>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-content>
                  <h3 class="card-title">Livraison</h3>
                  <p class="card-date">
                    <span>{{getDate(delivery.destination.real_end)}}</span> à <span>{{getHour(delivery.destination.real_end)}}</span>
                  </p>
                  <div class="card-address">
                    {{delivery.destination.address.address}}<br>
                    <span>{{delivery.destination.address.postcode +' '+ delivery.destination.address.city}}</span>
                  </div>
                  <div class="card-contact" *ngIf="delivery.destination.instructions">
                    <span>Instructions : </span>
                    {{delivery.destination.instructions}}
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div *ngIf="delivery.global_status === 'done'">
          <div class="images" *ngIf="delivery.messages.length > 0">
            <h2>Images Associées</h2>
            <ion-row>
              <ion-col *ngFor="let image of delivery.messages">
                <ion-item lines="none">
                  <div class="image-container">
                    <ion-thumbnail (click)="openImg(image.document, image.created)">
                      <img alt="" [src]="image.document" />
                      <div class="image-label">
                        {{ getDate(image.created) }} - {{ getHour(image.created) }}
                      </div>
                    </ion-thumbnail>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div class="documents" *ngIf="delivery.documents.length > 0">
            <ion-row>
              <ion-col>
                <h2>Documents Associés</h2>
                <ion-item *ngFor="let document of delivery.documents" (click)="openPdf(document.file)">
                  <ion-label> {{ getDate(document.file_updated_date) }} - {{document.name}} </ion-label>
                  <ion-icon [name]="'download'" slot="end"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div class="map">
          <capacitor-google-map #map></capacitor-google-map>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
