<app-header [defaultHref]="'/private/tabs/transports'"></app-header>

<ion-content>
  <ion-grid class="page-grid">
    <ion-row>
      <ion-col>
        <h2>Récapitulatif</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-img [src]="'https://h24-public-app.s3.eu-west-3.amazonaws.com/assets/global/img/cars/'+(delivery.licensePlate || delivery.requested_vehicle)+'.gif'"></ion-img>
            <!-- <h3>Vehicle name</h3> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-accordion-group [multiple]="true" [value]="['origin', 'destination']" *ngIf="delivery.deliveries.length <= 1">
          <ion-accordion value="origin">
            <ion-item slot="header" class="ion-no-margin ion-no-padding">
              <ion-label class="ion-text-left">
                <h3 class="card-title">Enlèvement(s)</h3>
              </ion-label>
            </ion-item>

            <ion-item slot="content" class="content-wrap ion-no-margin ion-no-padding">
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-margin ion-no-padding">
                    <div class="ion-card-wrapper">
                      <ion-label class="ion-margin-bottom">
                        <span>{{delivery.deliveries[0].origin.address.name}}</span>
                      </ion-label>

                      <ion-label *ngIf="delivery.deliveries[0].origin.slots || delivery.deliveries[0].origin.slots.length > 0" class="delivery-date-and-time ion-margin-bottom">
                        <span>{{getDate(delivery.deliveries[0].origin.real_start || delivery.deliveries[0].origin.slots[0].start)}}</span> à <span>{{getHour(delivery.deliveries[0].origin.real_start || delivery.deliveries[0].origin.slots[0].start)}}</span>
                      </ion-label>

                      <ion-label *ngIf="!delivery.deliveries[0].origin.slots || delivery.deliveries[0].origin.slots.length <= 0" class="delivery-date-and-time ion-margin-bottom">
                        <p>Date : Planification en cours</p>
                      </ion-label>

                      <ion-label class="ion-margin-bottom">
                        <p>
                          {{delivery.deliveries[0].origin.address.address}}<br>
                          {{delivery.deliveries[0].origin.address.postcode}} {{delivery.deliveries[0].origin.address.city}}
                        </p>
                      </ion-label>

                      <!-- <ion-label>
                        <span>Contact : </span>**TODO**
                      </div> -->

                      <ion-label *ngIf="delivery.deliveries[0].origin.instructions" class="ion-margin-bottom instructions">
                        <p><b>Instructions :</b> {{delivery.deliveries[0].origin.instructions}}</p>
                      </ion-label>

                      <div class="cards-wrapper" *ngIf="delivery.deliveries[0].loads.length > 0">
                        <ion-label class="ion-text-start">
                          <p><span>Chargement :</span></p>
                        </ion-label>
                        <ion-row>
                          <ion-col *ngFor="let load of delivery.deliveries[0].loads; let last = last" size="6" class="ion-no-padding">
                            <ion-item class="ion-no-margin ion-no-padding" lines="none">
                              <!-- <ion-icon *ngIf="load.complementary_information !== ''" name="information-circle-outline" class="left-badge" size="default"></ion-icon> -->
                              <!-- <ion-badge slot="start" color="danger">{{load.quantity}}</ion-badge> -->
                              <ion-card color="light-tint merchandise">
                                <!-- <ion-img [src]="'https://h24-public-app.s3.eu-west-3.amazonaws.com/assets/global/img/'+getImage(load.id)+'.png'"  [alt]="load.description"></ion-img> -->
                                <ion-card-header>
                                  <ion-card-title>{{load.description}}</ion-card-title>
                                  <ion-card-subtitle>{{load.complementary_information}}</ion-card-subtitle>
                                </ion-card-header>
                              </ion-card>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-accordion>

          <ion-accordion value="destination">
            <ion-item slot="header" class="ion-no-margin ion-no-padding">
              <ion-label class="ion-text-left">
                <h3 class="card-title">Livraison(s)</h3>
              </ion-label>
            </ion-item>

            <ion-item slot="content" class="content-wrap ion-no-margin ion-no-padding">
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-margin ion-no-padding">
                    <div class="ion-card-wrapper">
                      <ion-label class="ion-margin-bottom">
                        <span>{{delivery.deliveries[0].destination.address.name}}</span>
                      </ion-label>

                      <ion-label *ngIf="delivery.deliveries[0].destination.slots || delivery.deliveries[0].destination.slots.length > 0" class="delivery-date-and-time ion-margin-bottom">
                        <span>{{getDate(delivery.deliveries[0].destination.real_end || delivery.deliveries[0].destination.slots[0].end)}}</span> à <span>{{getHour(delivery.deliveries[0].destination.real_end || delivery.deliveries[0].destination.slots[0].end)}}</span>
                      </ion-label>

                      <ion-label *ngIf="!delivery.deliveries[0].destination.slots || delivery.deliveries[0].destination.slots.length <= 0" class="delivery-date-and-time ion-margin-bottom">
                        <p><span>Date :</span> Planification en cours</p>
                      </ion-label>

                      <ion-label class="ion-margin-bottom">
                        <p>
                          {{delivery.deliveries[0].destination.address.address}}<br>
                          {{delivery.deliveries[0].destination.address.postcode}} {{delivery.deliveries[0].destination.address.city}}
                        </p>
                      </ion-label>

                      <ion-label *ngIf="delivery.deliveries[0].destination.instructions" class="ion-margin-bottom instructions">
                        <p><b>Instructions :</b> {{delivery.deliveries[0].destination.instructions}}</p>
                      </ion-label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>

        <ion-accordion-group *ngIf="delivery.deliveries.length > 1">
          <ion-accordion *ngFor="let data of delivery.deliveries; let index = index;" [value]="'step-'+index">
            <ion-item slot="header" class="ion-no-margin ion-no-padding">
              <ion-label class="ion-text-left">Étape {{index + 1}}</ion-label>
              <ion-badge [class.status-started]="!data.origin.real_start" [class.status-ended]="data.origin.real_start" slot="end">{{ !data.origin.real_start ? 'En cours' : 'Terminée'}}</ion-badge>
            </ion-item>

            <ng-container *ngIf="index === 0 || data.origin.real_start !== delivery.deliveries[index-1].origin.real_start">
              <ion-item slot="content" class="content-wrap ion-no-margin ion-no-padding">
                <ion-grid class="ion-no-margin ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-no-margin ion-no-padding">
                      <ion-label class="ion-text-left ion-margin-bottom">
                        <h3 class="card-title">Enlèvement : {{data.origin.address.name}}</h3>
                      </ion-label>

                      <ion-label *ngIf="data.origin.slots || data.origin.slots.length > 0" class="delivery-date-and-time ion-margin-bottom">
                        <span>{{getDate(data.origin.real_start  || data.origin.slots[0].start)}}</span> à <span>{{getHour(data.origin.real_start || data.origin.slots[0].start)}}</span>
                      </ion-label>

                      <ion-label *ngIf="!data.origin.slots || data.origin.slots.length <= 0" class="delivery-date-and-time ion-margin-bottom">
                        <p><b>Date :</b> Planification en cours</p>
                      </ion-label>


                      <ion-label class="ion-margin-bottom">
                        <p>{{data.origin.address.address}}<br>
                           {{data.origin.address.postcode}} {{data.origin.address.city}}</p>
                      </ion-label>

                      <!-- <ion-label>
                        <span>Contact : </span>**TODO**
                      </ion-label> -->

                      <ion-label *ngIf="data.origin.instructions" class="ion-margin-bottom instructions">
                        <p><b>Instructions :</b> {{data.origin.instructions}}</p>
                      </ion-label>

                      <ion-label *ngIf="data.loads.length > 0" class="ion-margin-bottom">
                        <p><b>Chargement : </b></p>
                        <p *ngFor="let load of data.loads; let last = last">
                          {{load.description}}{{ !last ? ', ' : '' }}
                        </p>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="data.destination.real_end !== delivery.deliveries[index+1]?.destination.real_end || index === delivery.deliveries.length - 1">
              <ion-item slot="content" class="content-wrap ion-no-margin ion-no-padding">
                <ion-grid class="ion-no-margin ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-no-margin ion-no-padding">
                      <ion-label class="ion-text-left ion-margin-bottom">
                        <h3 class="card-title">Livraison : {{data.destination.address.name}}</h3>
                      </ion-label>

                      <ion-label *ngIf="data.destination.slots || data.destination.slots.length > 0" class="delivery-date-and-time ion-margin-bottom">
                        <span>{{getDate(data.destination.real_end || data.destination.slots[0].end)}}</span> à <span>{{getHour(data.destination.real_end || data.destination.slots[0].end)}}</span>
                      </ion-label>

                      <ion-label *ngIf="!data.destination.slots || data.destination.slots.length <= 0" class="delivery-date-and-time ion-margin-bottom">
                        <p><b>Date :</b> Planification en cours</p>
                      </ion-label>

                      <ion-label class="ion-margin-bottom">
                        <p>
                          {{data.destination.address.address}}<br>
                          {{data.destination.address.postcode}} {{data.destination.address.city}}
                        </p>
                      </ion-label>

                      <ion-label *ngIf="data.destination.instructions" class="ion-margin-bottom instructions">
                        <p><b>Instructions :</b> {{data.destination.instructions}}</p>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ng-container>
  
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div *ngIf="delivery.global_status === 'done'">
          <div class="images" *ngIf="delivery.messages.length > 0">
            <h2>Images</h2>
            <ion-row>
              <ion-col *ngFor="let image of delivery.messages">
                <ion-item lines="none" class="ion-no-padding">
                  <div class="image-container">
                    <ion-thumbnail (click)="openImg(image.document, image.created)">
                      <img alt="" [src]="image.document" />
                      <div class="image-label">
                        {{ getDate(image.created) }} - {{ getHour(image.created) }}
                      </div>
                    </ion-thumbnail>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div class="documents" *ngIf="delivery.documents.length > 0">
            <ion-row>
              <ion-col>
                <h2>Documents</h2>
                <ion-item *ngFor="let document of delivery.documents" (click)="openPdf(document.file)" class="ion-no-padding ion-no-margin">
                  <ion-label><p>{{ getDate(document.file_updated_date) }} - {{document.name}}</p></ion-label>
                  <ion-icon [name]="'download'" slot="end"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <h2>Carte</h2>
        <div id="map"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
