<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Editer</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page-grid">

    <ion-row>
      <ion-col [size]="type ==='date' ? '12' : '6'">
        <ion-item>
          <ion-datetime #dateTime [presentation]="type === 'date' ? 'date' : 'time'" [value]="defaultValue" mode="ios" (ionChange)="onChange(dateTime.value)" [min]="minVal" [max]="maxVal" ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="type ==='time'" size="6" class="hour-selected">
          <div>
            {{defaultValue | date: 'HH:mm'}}
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons class="ion-justify-content-end ion-padding">
          <ion-button color="primary" fill="outline" shape="round" (click)="toggleDate()" slot="end">Changer Date/heure</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
