<app-header [defaultHref]="'/private/tabs/profile'" title="Mes adresses" *ngIf="!isModal"></app-header>

<ion-content>
  <ion-icon name="close-outline" class="close-button ion-float-right" (click)="closeModal ()" *ngIf="isModal"></ion-icon>
  <div class="title" *ngIf="isModal">Mes adresses</div>
  <ion-grid class="page-grid ion-no-padding">
    <ion-row *ngIf="!isLoading && address.length > 0" class="searchbar">
      <ion-col>
        <ion-searchbar #searchbarElem placeholder="Rechercher" class="ion-no-padding" [(ngModel)]="searchAddress" (ionInput)="setFilteredItems(searchAddress)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="onAddAddress ()"><ion-icon name="location-outline"></ion-icon> &nbsp; Ajouter une adresse</ion-button>
        <ion-button shape="round" fill="outline" id="create-folder"><ion-icon name="folder-outline"></ion-icon> &nbsp; Créer un dossier</ion-button>
        <ion-button class="ion-hide" id="move-to-folder"></ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isLoading">
      <ion-col class="ion-text-center">
        <ion-spinner  color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && address.length <= 0">
      <ion-col>
        <p class="ion-text-center">
          Pas encore d'adresses dans votre carnet!<br />
          Merci d'en ajouter une!
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <div class="folder" [class.selected]="folder === currentFolder" (click)="selectFolder (folder)"> -->
          <div [ngTemplateOutlet]="folderTpl" [ngTemplateOutletContext]="{ folder }" *ngFor="let folder of folders"></div>
          <!--
          <div class="folder" [class.selected]="folder === currentFolderName" (click)="openFolder (folder)" *ngFor="let folder of folders">
          <div>
            <ion-icon name="folder-outline" class="folder-icon"></ion-icon> &nbsp; &nbsp; 
            {{ folder }} &nbsp; 
            <ion-badge slot="end" *ngIf="addressFolderItems (folder)">{{ addressFolderItems (folder) }}</ion-badge>
          </div>
          <div class="icons">
            <ion-icon class="pointer" name="create-outline" (click)="renameFolder (folder)"></ion-icon> &nbsp; &nbsp;
            <ion-icon class="pointer" name="trash-outline" (click)="deleteFolder (folder)"></ion-icon>
          </div>  
        </div>
        -->
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && address.length > 0">
      <ion-col>
        <br>
        <ion-accordion-group [multiple]="true">
          <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ item, moveto: true }" *ngFor="let item of jsonData"></div>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #folderTpl let-folder="folder" let-modal="modal">
  <div class="folder" [class.selected]="folder === currentFolderName" (click)="onFolderClick (folder, modal)">
    <div>
      <ion-icon name="folder-outline" class="folder-icon"></ion-icon> &nbsp; &nbsp; 
      {{ folder }} &nbsp; 
      <ion-badge slot="end" *ngIf="addressFolderItems (folder)">{{ addressFolderItems (folder) }}</ion-badge>
    </div>
    <div class="icons">
      <ion-icon class="pointer" name="create-outline" (click)="setRenameFolderName (folder, $event)"></ion-icon> &nbsp; &nbsp;
      <ion-icon class="pointer" name="trash-outline" (click)="deleteFolder (folder, $event)"></ion-icon>
    </div>  
  </div>
</ng-template>

<ng-template #deliveryTpl let-item="item" let-moveto="moveto">
  <ion-item-sliding #slidingAddress>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="onAddAddress(item.pk, null, slidingAddress)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  <ion-accordion  [value]="item.pk" class="address">

      <ion-item slot="header" class="ion-align-items-start" lines="none">
        <ion-label (click)="selectAddress (item, $event)">
          <!--
          <ion-chip class="ion-float-right" *ngIf="item.is_destination">Livraison</ion-chip>
          <ion-chip class="ion-float-right" *ngIf="item.is_origin">Enlèvement</ion-chip>
          -->
          <h3>
            <!--
            <span *ngIf="!isModal">
              <ion-icon name="stop-outline" (click)="toggleSelectedAddress (item, $event)" *ngIf="!selectedAddress[item.pk]"></ion-icon> 
              <ion-icon name="checkbox-outline" (click)="toggleSelectedAddress (item, $event)" *ngIf="selectedAddress[item.pk]"></ion-icon> &nbsp; 
            &nbsp; 
            </span>
            -->
            {{item.name}}
          </h3>
          <p>{{item.address}} {{item.postcode}} {{item.city}} {{getCountry(item.country)}}</p>
        </ion-label>
      </ion-item>
      <div class="content" slot="content">
        <div class="infos">
          <div>
            <div *ngIf="item.company?.name">
              <ion-text>Contact: {{item.company.name}}</ion-text>
            </div>
            <div *ngIf="item.company?.phone_number">
              <ion-text>Téléphone: <a href="tel:{{ item.company.phone_number }}">{{ formatPhone (item.company.phone_number) }}</a></ion-text>
            </div>
            <div *ngIf="item.instructions">
              <ion-text>Instuctions: {{item.instructions}}</ion-text>
            </div>
            <div *ngIf="!item.instructions">
              <ion-text>Pas d'instructions particulières</ion-text>
            </div>
          </div>
          <div *ngIf="moveto">
            <ion-icon name="stop-outline" (click)="toggleSelectedAddress (item, $event)" *ngIf="!selectedAddress[item.pk]"></ion-icon> 
            <ion-icon name="checkbox-outline" (click)="toggleSelectedAddress (item, $event)" *ngIf="selectedAddress[item.pk]"></ion-icon>
          </div>
        </div>
        <div class="actions">
          <div class="delete-address" (click)="setDeleteAddress(item)">Supprimer l'adresse</div>
          <div class="edit-address" (click)="onAddAddress(item.pk)">Modifier l'adresse</div>
        </div>
        <!-- 
        <div>
          <ion-icon class="pointer" name="create-outline" (click)="onAddAddress (item.pk)"></ion-icon>
          <ion-icon class="pointer" name="trash-outline" (click)="onRemoveAddress (item.pk, null, item.is_origin)"></ion-icon>
        </div>
        -->
      </div>

    </ion-accordion>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="setDeleteAddress(item, slidingAddress)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-template>

<ion-modal id="create-folder-modal" class="custom" #createFolderModal trigger="create-folder">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="createFolderModal.dismiss ()"></ion-icon>
      <div class="title">Création d'un dossier d'adresses</div>

      <ion-input #folderName
        label="Nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nom du dossier d'adresses">
      </ion-input>
      <ion-button (click)="createFolder (folderName.value, createFolderModal)" [disabled]="!folderName.value"><ion-icon name="folder-outline"></ion-icon> &nbsp; Créer le dossier</ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="rename-folder-modal" class="custom" [isOpen]="!!renameFolderName" (willDismiss)="setRenameFolderName(null)" #renameFolderModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="setRenameFolderName (null)"></ion-icon>
      <div class="title">Renomer le dossier</div>

      <ion-input
        label="Nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nom du dossier d'adresses"
        [disabled]="true"
        [value]="renameFolderName">
      </ion-input>
      <br>
      <ion-input #folderName
        label="Nouveau nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nouveau nom du dossier d'adresses">
      </ion-input>
      <br>
      <ion-button (click)="renameFolder (folderName.value, renameFolderModal)" [disabled]="!folderName.value"><ion-icon name="folder-outline"></ion-icon> &nbsp; Renommer le dossier</ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="open-folder" class="custom folder-modal" [isOpen]="!!currentFolderName" (willDismiss)="openFolder(null)">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="openFolder (null)"></ion-icon>
      <div class="title">{{ currentFolderName }}</div>
      <br>
      <ion-accordion-group [multiple]="true">
        <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ item }" *ngFor="let item of currentFolder"></div>
      </ion-accordion-group>
      <hr>
      <div class="add-address-button" (click)="onAddAddress(null, currentFolderName)"><ion-icon name="add"></ion-icon> &nbsp; Ajouter une adresse au dossier</div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="move-to-folder-modal" class="custom" #moveToFolderModal trigger="move-to-folder">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="moveToFolderModal.dismiss ()"></ion-icon>
      <div class="title">Déplacer les adresses <br> selectionnées dans un dossier</div>

      <!--
      <div class="folder" (click)="moveToFolder (null, moveToFolderModal)">
        <ion-icon name="folder-outline"></ion-icon> &nbsp; &nbsp; 
        Racine
      </div>
      -->

      <div [ngTemplateOutlet]="folderTpl" [ngTemplateOutletContext]="{ folder, modal: moveToFolderModal }" *ngFor="let folder of folders"></div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="delete-address-modal" class="custom" [isOpen]="!!deleteAddress" (willDismiss)="setDeleteAddress(null)" #deleteAddressModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="deleteAddressModal.dismiss ()"></ion-icon>
      <div class="title">Êtes-vous sûr de vouloir supprimer cette adresse ?</div>
      <div class="buttons">
        <ion-button (click)="deleteAddressModal.dismiss ()">Non</ion-button> &nbsp;
        <ion-button fill="outline" (click)="onRemoveAddress (deleteAddress.pk)">Oui</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-toolbar *ngIf="haveSelectedAddress ()">
  <ion-button shape="round" (click)="showMoveToFolderModal ()"><ion-icon name="folder-outline"></ion-icon> &nbsp; Déplacer dans un dossier</ion-button>
</ion-toolbar>
