<app-header [defaultHref]="'/private/tabs/profile'" title="Mes adresses" *ngIf="!isModal"></app-header>

<ion-content>
  <div class="profile-container {{ isModal ? 'modal' : 'not-modal' }}">
    <app-profile-component [desktopOnly]="!isModal" [isModal]="isModal"></app-profile-component>

    <div class="page">
      <ion-button class="move-to-folder-desktop" shape="round" [disabled]="!haveSelectedAddress ()" (click)="showMoveToFolderModal ()" *ngIf="config.isDesktop && !isModal"><ion-icon name="folder-outline"></ion-icon> &nbsp; Déplacer dans un dossier</ion-button>

      <ion-icon name="close-outline" class="close-button ion-float-right" (click)="closeModal ()" *ngIf="isModal"></ion-icon>
      <div class="title" *ngIf="isModal">Mes adresses</div>
      <ion-grid class="page-grid ion-no-padding">
        <ion-row *ngIf="!isLoading && addresses.length > 0 && !isModal" class="searchbar">
          <ion-col>
            <ion-searchbar #searchbarElem placeholder="Rechercher" class="ion-no-padding" [(ngModel)]="searchAddress" (ionInput)="setFilteredItems(searchAddress)"></ion-searchbar>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!searchbarElem?.nativeElement?.value">
          <ion-col>
            <ion-button shape="round" (click)="onAddAddress ()"><ion-icon name="location-outline"></ion-icon> &nbsp; Ajouter une adresse</ion-button>
            <ion-button shape="round" fill="outline" id="create-folder" *ngIf="!isModal"><ion-icon name="folder-outline"></ion-icon> &nbsp; Créer un dossier</ion-button>
            <ion-button class="ion-hide" id="move-to-folder"></ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isLoading">
          <ion-col class="ion-text-center">
            <ion-spinner  color="primary"></ion-spinner>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isLoading && addresses.length <= 0">
          <ion-col>
            <p class="ion-text-center">
              Pas encore d'adresses dans votre carnet!<br />
              Merci d'en ajouter une!
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!searchbarElem?.nativeElement?.value">
          <ion-col>
            <!-- <div class="folder" [class.selected]="folder === currentFolder" (click)="selectFolder (folder)"> -->
              <div [ngTemplateOutlet]="folderTpl" [ngTemplateOutletContext]="{ folder }" *ngFor="let folder of folders"></div>
              <!--
              <div class="folder" [class.selected]="folder === currentFolderName" (click)="openFolder (folder)" *ngFor="let folder of folders">
              <div>
                <ion-icon name="folder-outline" class="folder-icon"></ion-icon> &nbsp; &nbsp;
                {{ folder }} &nbsp;
                <ion-badge slot="end" *ngIf="addressFolderItems (folder)">{{ addressFolderItems (folder) }}</ion-badge>
              </div>
              <div class="icons">
                <ion-icon class="pointer" name="create-outline" (click)="renameFolder (folder)"></ion-icon> &nbsp; &nbsp;
                <ion-icon class="pointer" name="trash-outline" (click)="deleteFolder (folder)"></ion-icon>
              </div>
            </div>
            -->
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isLoading && addresses.length > 0">
          <ion-col>
            <br>
            <ion-accordion-group [multiple]="true">
              <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ address, moveto: true }" *ngFor="let address of displayedAddresses"></div>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ng-template #folderTpl let-folder="folder" let-modal="modal">
  <div class="folder" [class.selected]="folder === currentFolderName" (click)="onFolderClick (folder, modal)">
    <div>
      <ion-icon name="folder-outline" class="folder-icon"></ion-icon> &nbsp; &nbsp;
      {{ folder }} &nbsp;
      <ion-badge slot="end" *ngIf="addressFolderItems (folder)">{{ addressFolderItems (folder) }}</ion-badge>
    </div>
    <div class="icons">
      <ion-icon class="pointer" name="create-outline" (click)="setRenameFolderName (folder, $event)"></ion-icon> &nbsp; &nbsp;
      <ion-icon class="pointer" name="trash-outline" (click)="deleteFolder (folder, $event)"></ion-icon>
    </div>
  </div>
</ng-template>

<ng-template #deliveryTpl let-address="address" let-moveto="moveto" let-modal="modal">
  <ion-item-sliding #slidingAddress>
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="onAddAddress(address.id, null, slidingAddress)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  <ion-accordion  [value]="address.id" class="address">

      <ion-item slot="header" class="ion-align-items-start" lines="none" (click)="selectAddress (address, $event, modal)">
        <ion-label>
          <!--
          <ion-chip class="ion-float-right" *ngIf="address.is_destination">Livraison</ion-chip>
          <ion-chip class="ion-float-right" *ngIf="address.is_origin">Enlèvement</ion-chip>
          -->
          <h3>
            <!--
            <span *ngIf="!isModal">
              <ion-icon name="stop-outline" (click)="toggleSelectedAddress (address, $event)" *ngIf="!selectedAddress[address.id]"></ion-icon>
              <ion-icon name="checkbox-outline" (click)="toggleSelectedAddress (address, $event)" *ngIf="selectedAddress[address.id]"></ion-icon> &nbsp;
            &nbsp;
            </span>
            -->
            {{address.name}}
          </h3>
          <p>{{address.address}} {{address.postcode}} {{address.city}} {{getCountry(address.country)}}</p>
        </ion-label>
      </ion-item>
      <div class="content" slot="content">
        <div class="infos">
          <div>
            <div *ngIf="address.company?.name">
              <ion-text>Contact: {{address.company.name}}</ion-text>
            </div>
            <div *ngIf="address.company?.phone_number">
              <ion-text>Téléphone: <a href="tel:{{ address.company.phone_number }}">{{ formatPhone (address.company.phone_number) }}</a></ion-text>
            </div>
            <div *ngIf="address.instructions">
              <ion-text>Instuctions: {{address.instructions}}</ion-text>
            </div>
            <div *ngIf="!address.instructions">
              <ion-text>Pas d'instructions particulières</ion-text>
            </div>
          </div>
          <div *ngIf="moveto">
            <ion-icon name="stop-outline" (click)="toggleSelectedAddress (address, $event)" *ngIf="!selectedAddress[address.id]"></ion-icon>
            <ion-icon name="checkbox-outline" (click)="toggleSelectedAddress (address, $event)" *ngIf="selectedAddress[address.id]"></ion-icon>
          </div>
        </div>
        <div class="actions">
          <div class="delete-address" (click)="setDeleteAddress(address)">Supprimer l'adresse</div>
          <div class="edit-address" (click)="onAddAddress(address.id)">Modifier l'adresse</div>
        </div>
        <!--
        <div>
          <ion-icon class="pointer" name="create-outline" (click)="onAddAddress (address.id)"></ion-icon>
          <ion-icon class="pointer" name="trash-outline" (click)="onRemoveAddress (address.id, null, address.is_origin)"></ion-icon>
        </div>
        -->
      </div>

    </ion-accordion>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="setDeleteAddress(address, slidingAddress)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-template>

<ion-modal id="create-folder-modal" class="custom" #createFolderModal trigger="create-folder">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="createFolderModal.dismiss ()"></ion-icon>
      <div class="title">Création d'un dossier d'adresses</div>

      <ion-input #folderName
        label="Nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nom du dossier d'adresses">
      </ion-input>
      <ion-button (click)="createFolder (folderName.value, createFolderModal)" [disabled]="!folderName.value"><ion-icon name="folder-outline"></ion-icon> &nbsp; Créer le dossier</ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="rename-folder-modal" class="custom" [isOpen]="!!renameFolderName" (willDismiss)="setRenameFolderName(null)" #renameFolderModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="setRenameFolderName (null)"></ion-icon>
      <div class="title">Renomer le dossier</div>

      <ion-input
        label="Nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nom du dossier d'adresses"
        [disabled]="true"
        [value]="renameFolderName">
      </ion-input>
      <br>
      <ion-input #folderName
        label="Nouveau nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nouveau nom du dossier d'adresses">
      </ion-input>
      <br>
      <ion-button (click)="renameFolder (folderName.value, renameFolderModal)" [disabled]="!folderName.value"><ion-icon name="folder-outline"></ion-icon> &nbsp; Renommer le dossier</ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="open-folder" class="custom folder-modal" [isOpen]="!!currentFolderName" (willDismiss)="openFolder(null)" #openFolderModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="openFolder (null)"></ion-icon>
      <div class="title">{{ currentFolderName }}</div>
      <br>
      <ion-accordion-group [multiple]="true">
        <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ address, modal: openFolderModal }" *ngFor="let address of currentFolder"></div>
      </ion-accordion-group>
      <hr>
      <div class="add-address-button pointer" (click)="onAddAddress(null, currentFolderName)"><ion-icon name="add"></ion-icon> &nbsp; Ajouter une adresse au dossier</div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="move-to-folder-modal" class="custom" #moveToFolderModal trigger="move-to-folder">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="moveToFolderModal.dismiss ()"></ion-icon>
      <div class="title">Déplacer les adresses <br> selectionnées dans un dossier</div>

      <!--
      <div class="folder" (click)="moveToFolder (null, moveToFolderModal)">
        <ion-icon name="folder-outline"></ion-icon> &nbsp; &nbsp;
        Racine
      </div>
      -->

      <div [ngTemplateOutlet]="folderTpl" [ngTemplateOutletContext]="{ folder, modal: moveToFolderModal }" *ngFor="let folder of folders"></div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="delete-address-modal" class="custom" [isOpen]="!!deleteAddress" (willDismiss)="setDeleteAddress(null)" #deleteAddressModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="deleteAddressModal.dismiss ()"></ion-icon>
      <div class="title">Êtes-vous sûr de vouloir supprimer cette adresse ?</div>
      <div class="buttons">
        <ion-button (click)="deleteAddressModal.dismiss ()">Non</ion-button> &nbsp;
        <ion-button fill="outline" (click)="onRemoveAddress (deleteAddress.id)">Oui</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-toolbar *ngIf="haveSelectedAddress () && config.isMobile">
  <ion-button shape="round" (click)="showMoveToFolderModal ()"><ion-icon name="folder-outline"></ion-icon> &nbsp; Déplacer dans un dossier</ion-button>
</ion-toolbar>
