<app-header [defaultHref]="'/private/tabs/transports/new-order/deliveries'" title="Créer une commande"></app-header>

<ion-content>
  <h2>Récapitulatif</h2>
  <h3>Type de transport <ion-icon class="edit-button" name="create-outline" (click)="editSection ('type')" *ngIf="false"></ion-icon></h3>

  <div class="type">
    <img src="assets/order-type/{{ transport.type }}.jpeg">
    <div class="title">{{ typeName[transport.type] }}</div>
  </div>

  <h3>Type de véhicule <ion-icon class="edit-button" name="create-outline" (click)="editSection ('vehicle')"></ion-icon></h3>
  <div class="vehicle">
    <img src="assets/trucks/{{ transport.vehicle }}.png">
  </div>

  <h2>Enlèvements <ion-icon class="edit-button" name="create-outline" (click)="editSection ('origins')"></ion-icon></h2>
  <ion-accordion-group>
    <div *ngFor="let delivery of transport.getOrigins ()">
      <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ type: 'origin', delivery: delivery.origin, address: delivery.origin?.address, loads: delivery.planned_loads, file: delivery.file }"></div>
    </div>
  </ion-accordion-group>
  <br>
  <h2>Livraisons<ion-icon class="edit-button" name="create-outline" (click)="editSection ('destinations')"></ion-icon></h2>
  <ion-accordion-group>
    <div *ngFor="let delivery of transport.getDestinations ()">
      <div [ngTemplateOutlet]="deliveryTpl" [ngTemplateOutletContext]="{ type: 'destination', delivery: delivery.destination, address: delivery.destination?.address, loads: delivery.planned_loads, file: delivery.file }"></div>
    </div>
  </ion-accordion-group>

  <br>
</ion-content>

<ion-toolbar>
  <ion-button fill="outline" id="save-draft">Enregistrer dans les brouillons</ion-button>
  <ion-button id="submit-order">Nommer votre demande</ion-button>
</ion-toolbar>

<ng-template #deliveryTpl let-type="type" let-delivery="delivery" let-address="address" let-loads="loads" let-file="file">
  <ion-accordion class="delivery">
    <ion-item slot="header" color="light" lines="none">
      <div>
      <div class="name">{{ address.name }}</div>
      <div class="city">{{ address.city }} ({{ address.postcode }})</div>
      </div>
    </ion-item>
    <div class="ion-padding details" slot="content">
      <div class="date" [innerHTML]="formatSlot(delivery.slots?.[0])"></div>
      <div class="address"><b>Adresse: </b>{{  address.address }} {{ address.city }} {{ address.postcode }}</div>
      <div class="contact" *ngIf="delivery.contact"><b>Contact: </b>{{ delivery.contact }}</div>

      <div class="instructions" *ngIf="delivery.instructions"><b>Instructions: </b>{{ delivery.instructions }}</div>
      <div class="merchandises" *ngIf="type === 'origin' && loads?.length"><b>Marchandises: </b>{{ getMerchandises (loads) }} </div>
      <div class="attachments" *ngIf="delivery.file?.name"><b>Pièce jointe: </b>{{ delivery.file.name }} </div>
    </div>
  </ion-accordion>
</ng-template>

<ion-modal trigger="submit-order" #orderNameModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="orderNameModal.dismiss ()"></ion-icon>
      <div class="title">Titre de votre demande dans vos transports</div>
      <br>
      <ion-input #orderName
        label="Titre de la demande"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Titre de la demande">
      </ion-input>
      <br>
      <div class="ion-text-center" [class.ion-hide]="!transport.draftName">
        <ion-checkbox labelPlacement="end" checked="true" #deleteDraft>Supprimer le brouillon</ion-checkbox>
      </div>
      <br>
      <ion-button (click)="onSetOrderName (orderName.value, deleteDraft?.value, orderNameModal)">Valider ma demande</ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal trigger="save-draft" #saveDraftModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="saveDraftModal.dismiss ()"></ion-icon>
      <div class="title">Titre de votre demande dans les brouillons</div>
      <br>
      <ion-input #draftName
        label="Titre de la demande"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Titre de la demande"
        [value]="transport.draftName">
      </ion-input>
      <br>
      <ion-button (click)="onSetDraftName (draftName.value, saveDraftModal)">Valider</ion-button>
    </div>
  </ng-template>
</ion-modal>

