<app-header [defaultHref]="'/private'" title="Informations personnelles"></app-header>

<ion-content>
  <div class="profile-container">
    <app-profile-component [desktopOnly]="true"></app-profile-component>
    <div class="page">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <ion-list>
          <ion-item>
            <ion-input
              label="Prénom"
              label-placement="floating"
              placeholder="Prénom"
              errorText="Merci d'indiquer votre prénom"
              formControlName="first_name">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Nom"
              label-placement="floating"
              placeholder="Nom"
              errorText="Merci d'indiquer votre nom"
              formControlName="last_name">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Téléphone"
              label-placement="floating"
              placeholder="Téléphone"
              errorText="Merci d'indiquer votre téléphone"
              formControlName="phone_number">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Email"
              label-placement="floating"
              placeholder="Email"
              errorText="Merci d'indiquer votre email"
              [value]="form.value.email"
              formControlName="email">
            </ion-input>
          </ion-item>

        </ion-list>

        <ion-button type="submit" class="submit" [disabled]="success === true || !form.valid || !form.dirty">
          Enregistrer les informations
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>

<ion-toolbar *ngIf="success">
  <div class="alert-success">
    <ion-icon name="checkbox-outline"></ion-icon> Vos informations ont été enregistrées avec succès
  </div>
</ion-toolbar>
