ion-content  {
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;
}

.user-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.user-header ion-icon {
  font-size: 30pt;
}
 
.user-infos {
  margin-top: 60px;
}

ion-button.submit {
  display: block;
  margin-top: 30px;
}

ion-item {
  height: 76px;
  margin-top: 10px;
}

.alert-success {
  & {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  ion-icon {
    margin-right: 15px;
  }
}