ion-button.submit {
  display: block;
  margin-top: 30px;
}

ion-item {
  height: 76px;
  margin-top: 10px;
}

.alert-success {
  & {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  ion-icon {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  ion-content  {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
  }
}

@media (min-width: 768px) {
  .page {
    padding-right: 30% !important;
  }
}
