ion-content {
  --padding-top: 56px;
}

ion-button.btn-cat {
  height: auto;
  --border-radius: 8px!important;
  --padding-end: 4px;
  --padding-start: 4px;
  .custom-btn {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
  }
}

