<ion-header class="ion-no-border">
  <ion-toolbar no-border>
    <ion-title class="ion-text-center">
      <img class="header-logo" src="https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/logo-noir-sur-fond-blanc.jpeg" alt="H24 Transports">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content cclass="ion-padding" scrollY="false">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid class="page-grid">
      <ion-row class="page-content ion-align-items-center">
        <ion-col>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
                    <ion-input type="text" label="Prénom" labelPlacement="floating" formControlName="firstname"></ion-input>
                  </ion-item>
                  <div class="ion-margin-bottom" *ngIf="!form.get('firstname').valid && form.get('firstname').touched">
                    <ion-label class="validator-error">
                      Merci d'indiquer votre prenom
                    </ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
                    <ion-input type="text" label="Nom" labelPlacement="floating" formControlName="lastname"></ion-input>
                  </ion-item>
                  <div class="ion-margin-bottom" *ngIf="!form.get('lastname').valid && form.get('lastname').touched">
                    <ion-label class="validator-error">
                      Merci d'indiquer votre nom
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
                    <ion-input type="text" label="Numéro de téléphone" labelPlacement="floating" formControlName="phone"></ion-input>
                  </ion-item>
                  <div class="ion-margin-bottom" *ngIf="!form.get('phone').valid && form.get('phone').touched">
                    <ion-label class="validator-error">
                      {{regexErrors['phone']}}
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
                    <ion-input type="email" label="Adresse e-mail" labelPlacement="floating" formControlName="email"></ion-input>
                  </ion-item>
                  <div class="ion-margin-bottom" *ngIf="!form.get('email').valid && form.get('email').touched">
                    <ion-label class="validator-error">
                      {{regexErrors['email']}}
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <ion-back-button type="button" text="Login" defaultHref="/auth"></ion-back-button>
                </ion-col>
                <ion-col class="ion-text-right">
                  <ion-button type="submit" color="primary" shape="round" [disabled]="!form.valid">
                    Connexion
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
