<ion-content>
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <div class="logo-container">
            <img class="header-logo" src="https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/logo-noir-sur-fond-blanc.jpeg" alt="H24 Transports">
          </div>
          <h1 class="ion-text-nowrap">
            Créer un compte
          </h1>
        </div>

        <div class="inputs-container">
          <div class="is-client">
            <div>Déja client ?</div>
            <ion-radio-group value="start" (ionChange)="onAlreadyClientChange ($event)" formControlName="isClient" [value]="isClient">
              <ion-radio [value]="true" labelPlacement="start">Oui</ion-radio>
              &nbsp;
              <ion-radio [value]="false" labelPlacement="start">Non</ion-radio>
            </ion-radio-group>
          </div>
          <div class="user-name">
            <div>
              <ion-input type="text" label="Nom" labelPlacement="floating" fill="outline" shape="round" errorText="Saisissez votre nom"
                formControlName="last_name"></ion-input>
            </div>
            <span>&nbsp; &nbsp;</span>
            <div>
              <ion-input type="text" label="Prénom" labelPlacement="floating" fill="outline" shape="round"
                formControlName="first_name"></ion-input>
            </div>
          </div>
          <div>
            <ion-input type="text" label="Numéro de téléphone" fill="outline" shape="round" labelPlacement="floating" [errorText]="regexErrors['phone']" formControlName="phone_number"></ion-input>
          </div>
          <div>
            <ion-input type="email" label="Adresse e-mail" labelPlacement="floating" fill="outline" shape="round" [errorText]="regexErrors['email']" formControlName="email"></ion-input>
          </div>
          <div>
            <ion-input type="password" label="Mot de passe" labelPlacement="floating" fill="outline" shape="round" [errorText]="regexErrors['password']" formControlName="password" #password>
              <ion-icon name="eye-closed" slot="end" (click)="toggleShowPassword (password)"></ion-icon>
            </ion-input>
          </div>
          <div *ngIf="isClient">
            <ion-input label="Société" labelPlacement="floating" fill="outline" shape="round" errorText="Veuillez saisir le nom de la société" formControlName="company"></ion-input>
          </div>
          <br>
          <ion-button type="submit" color="primary" shape="round" [disabled]="!form.valid">
            Créer un compte
          </ion-button>
          <br>
          <div class="connect-button-desktop ion-text-center pointer" routerLink="/auth">
            Déjà un compte ? <span class="login">Connexion</span>
          </div>
        </div>
      </form>
      <div class="truck-big"><img src="assets/auth-desktop-picture.jpeg"></div>
  </div>
</ion-content>

<ion-toolbar>
  <div>
    Déjà un compte ? <span class="login" routerLink="/auth">Connexion</span>
  </div>
</ion-toolbar>