ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}

.header-logo {
  width: 65px;
  padding-top: 20px;
}

.logo-container {
  background-color: #FFF;
}

.container {
  & {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
  }

  & > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.user-name {
  display: flex;
  justify-content: space-between;
}

.is-client {
  & {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    margin-top: 10px;
  }

}

.password-infos {
  padding: 5px 5px 0 5px;
  color: grey;
}

.validator-error {
  padding: 0 5px 0 5px;
}

h1 {
  margin-top: 8px;
  font-size: 32px;
  font-weight: 700;
}

ion-toolbar {
  div {
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  .login {
    text-decoration: underline;
  }
}
