<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item class="ion-no-margin ion-no-padding" lines="full">
    <ion-input labelPlacement="floating" label="Saisissez votre clé API" [(ngModel)]="token" placeholder="Votre clé API"></ion-input>
  </ion-item>
  <p>
    <span><ion-icon name="information-circle"></ion-icon></span>
    Votre clé API vous a été communiquée par email.
  </p>
</ion-content>
