<app-header [defaultHref]="'/private/tabs/profile'" title="Membres" *ngIf="!isModal"></app-header>

<ion-content>
  <div class="profile-container {{ isModal ? 'modal' : 'not-modal' }}">
    <app-profile-component [desktopOnly]="!isModal" [isModal]="isModal"></app-profile-component>
    <div class="page">
      <ion-icon name="close-outline" class="close-button ion-float-right" (click)="closeModal ()" *ngIf="isModal"></ion-icon>
      <div class="title" *ngIf="isModal">Mes contacts</div>

      <ion-grid class="page-grid ion-no-padding">
        <ion-row *ngIf="!isLoading && contacts.length > 0 && !isModal" class="searchbar">
          <ion-col>
            <ion-searchbar #searchbarElem placeholder="Rechercher" class="ion-no-padding" [(ngModel)]="searchContact" (ionInput)="setFilteredItems(searchContact)"></ion-searchbar>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!searchbarElem?.nativeElement?.value">
          <ion-col>
            <ion-button shape="round" (click)="onAddContact ()" *ngIf="!isModal"><ion-icon name="location-outline"></ion-icon> &nbsp; Envoyer une invitation</ion-button>
            <ion-button shape="round" (click)="onAddContact ()" *ngIf="isModal"><ion-icon name="location-outline"></ion-icon> &nbsp; Ajouter un contact</ion-button>
            <!-- <ion-button shape="round" fill="outline" id="create-folder"><ion-icon name="folder-outline"></ion-icon> &nbsp; Créer un dossier</ion-button> -->
            <ion-button class="ion-hide" id="move-to-folder"></ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isLoading">
          <ion-col class="ion-text-center">
            <ion-spinner  color="primary"></ion-spinner>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!isLoading && contacts.length <= 0">
          <ion-col>
            <p class="ion-text-center">
              Pas encore d'adresses dans votre carnet!<br />
              Merci d'en ajouter une!
            </p>
          </ion-col>
        </ion-row>

        <!--
        <ion-row *ngFor="let folder of folders">
          <ion-col>
            <div class="folder" [class.selected]="folder === currentFolder" (click)="selectFolder (folder)">
              <ion-icon name="folder-outline"></ion-icon> &nbsp; &nbsp;
              {{ folder }} &nbsp;
              <ion-badge slot="end" *ngIf="contactsFolderItems (folder)">{{ contactsFolderItems (folder) }}</ion-badge>
            </div>
          </ion-col>
        </ion-row>
        -->

        <ion-row *ngIf="!isLoading && contacts.length > 0">
          <ion-col>
            <ion-item-sliding #slidingContact *ngFor="let contact of displayedContacts; let index = index">
              <ion-item-options side="start">
                <ion-item-option color="success" (click)="onAddContact(contact.id, slidingContact)">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>

              <ion-item slot="header" class="ion-no-margin ion-no-padding" lines="none" (click)="selectContact (contact, $event)">
                <div class="contact pointer">
                  <div>
                    <ion-chip class="ion-float-right" *ngIf="contact.is_destination">Livraison</ion-chip>
                    <ion-chip class="ion-float-right" *ngIf="contact.is_origin">Enlèvement</ion-chip>
                    <span class="contact-name">
                      <span *ngIf="isModal && false">
                        <ion-icon name="stop-outline" (click)="toggleSelectedContact (contact, $event)" *ngIf="!selectedContacts[contact.id]"></ion-icon>
                        <ion-icon name="checkbox-outline" (click)="toggleSelectedContact (contact, $event)" *ngIf="selectedContacts[contact.id]"></ion-icon> &nbsp;
                        &nbsp;
                      </span>
                      {{ contact.first_name }} {{ contact.last_name }}
                    </span>
                    <br>
                    {{ contact.company_name }}<br>
                    <span *ngIf="contact?.email"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span><br>
                    <span *ngIf="contact?.phone_number"><a href="tel:{{ contact.phone_number }}">{{ formatPhone (contact.phone_number) }}</a></span>
                  </div>
                  <div class="icons">
                    <div><ion-chip class="pending-invite" *ngIf="contact.has_pending_invite">Invitation envoyée</ion-chip></div>
                    <div class="ion-text-nowrap">
                      <ion-icon class="pointer" name="create-outline" (click)="onAddContact (contact.id)"></ion-icon>
                      <ion-icon class="pointer" name="trash-outline" (click)="setDeleteContact (contact)"></ion-icon>
                    </div>
                    <div></div>
                  </div>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="setDeleteContact(contact, slidingContact)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-modal id="delete-contact-modal" class="custom" [isOpen]="!!deleteContact" (willDismiss)="setDeleteContact(null)" #deleteContactModal>
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="deleteContactModal.dismiss ()"></ion-icon>
      <div class="title">Êtes-vous sûr de vouloir supprimer ce contact ?</div>
      <div class="buttons">
        <ion-button (click)="deleteContactModal.dismiss ()">Non</ion-button> &nbsp;
        <ion-button fill="outline" (click)="onRemoveContact (deleteContact.id)">Oui</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<!--
<ion-modal id="create-folder-modal" #createFolderModal trigger="create-folder">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="createFolderModal.dismiss ()"></ion-icon>
      <div class="title">Création d'un dossier d'adresses</div>

      <ion-input #folderName
        label="Nom du dossier d'adresses"
        label-placement="floating"
        fill="outline"
        shape="round"
        autofocus="true"
        placeholder="Nom du dossier d'adresses">
      </ion-input>

      <ion-button (click)="createFolder (createFolderModal, folderName.value)"><ion-icon name="folder-outline"></ion-icon> &nbsp; Créer le dossier</ion-button>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="move-to-folder-modal" #moveToFolderModal trigger="move-to-folder">
  <ng-template>
    <div class="wrapper">
      <ion-icon name="close-outline" class="ion-float-right" (click)="moveToFolderModal.dismiss ()"></ion-icon>
      <div class="title">Déplacer les adresses selectionnées dans un dossier</div>

      <div class="folder" (click)="moveToFolder (moveToFolderModal, null)">
        <ion-icon name="folder-outline"></ion-icon> &nbsp; &nbsp;
        Racine
      </div>

      <div class="folder" (click)="moveToFolder (moveToFolderModal, folder)" *ngFor="let folder of folders">
        <ion-icon name="folder-outline"></ion-icon> &nbsp; &nbsp;
        {{ folder }}
      </div>
    </div>
  </ng-template>
</ion-modal>
-->

<ion-toolbar *ngIf="false && isModal && haveSelectedContacts ()">
  <!-- <ion-button shape="round" (click)="showMoveToFolderModal ()"><ion-icon name="folder-outline"></ion-icon> &nbsp; Déplacer dans un dossier</ion-button> -->
  <ion-button shape="round" (click)="selectContacts ()" *ngIf="isModal && haveSelectedContacts ()"><ion-icon name="checkmark-outline"></ion-icon> &nbsp; Selectionner les contacts</ion-button>
</ion-toolbar>
