.desktop {
    & {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        height: 100%;
        overflow: auto;
        padding-bottom: 20px;
    }

    & > * {
        flex-basis: 33vw;
    }

    .choice {
        margin: 0 20px 0 20px;
        padding: 0 20px 0 20px;
        border: 1px solid lightgray;
        border-radius: 15px;
    }

    app-type-choice-component, app-vehicle-choice-component, app-multipoint-choice-component {
        display: block;
    }

    app-multipoint-choice-component {
        padding-left: 10px;
    }

    .chevron-right {
        position: absolute;
        top: 50%;
        left: -30px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    ion-content {
        --padding-start: 20px;
        --padding-end: 20px;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .hidden {
        opacity: 0;
        pointer-events: none;
    }
}