<div class="container">
  <div class="types">
    <h3>Choisissez votre type de transport</h3>
    <ion-button size="small" fill="outline" *ngFor="let draft of draftsName" (click)="loadDraft (draft)">
      Charger ma demande '{{ draft }}'
    </ion-button>
    <div class="type" (click)="setTransportType ('audiovisual')">
      <img src="assets/order-type/audiovisual.jpeg">
      <div class="title">Audiovisuel</div>
    </div>
    <div class="type disabled" [class.hidden]="transportOrderService.type" (click)="setTransportType ('charter')">
      <img src="assets/order-type/charter.jpeg">
      <div class="title">Affrètement</div>
      <div class="comming">A venir</div>
    </div>
    <div class="type disabled" [class.hidden]="transportOrderService.type" (click)="setTransportType ('air')">
      <img src="assets/order-type/air.jpeg">
      <div class="title">Aeriens</div>
      <div class="comming">A venir</div>
    </div>
  </div>
</div>
