<app-header [defaultHref]="'/private/tabs/profile/details'" *ngIf="!isModal"></app-header>

<ion-header *ngIf="isModal">
  <ion-toolbar>
    <ion-title>
      <h2>Editer une adresse</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <form [formGroup]="form">
    <ion-input type="text" label="Nom de l'adresse" labelPlacement="floating" errorText="Merci d'indiquer un nom" formControlName="name"></ion-input>
    <ion-input type="text" label="Adresse" labelPlacement="floating" errorText="Merci d'indiquer l'adresse postale" formControlName="address"></ion-input>
    <ion-input type="text" label="Code postal" labelPlacement="floating" errorText="Merci d'indiquer le code postal" formControlName="postal"></ion-input>
    <ion-input type="text" label="Ville" labelPlacement="floating" errorText="Merci d'indiquer la ville" formControlName="city"></ion-input>
    <ion-select mode="md" label="Pays" labelPlacement="floating" okText="Valider" cancelText="Annuler" errorText="Merci d'indiquer le pays" class="ion-no-margin ion-no-padding" formControlName="country">
      <ion-select-option *ngFor="let country of countries" [value]="country.key">{{country.value}}</ion-select-option>
    </ion-select>
    <ion-input type="text" label="Instructions" labelPlacement="floating" helperText="Indication supplementaire (Facultatif)" formControlName="instructions"></ion-input>
    <ion-button type="submit" [disabled]="!form.valid" class="ion-margin-top ion-margin-bottom" (click)="onSubmit()">
      Valider
    </ion-button>
  </form>
</ion-content>