<app-header *ngIf="!isModal" [defaultHref]="'/private/tabs/home'"></app-header>

<ion-header *ngIf="isModal" >
  <ion-toolbar>
    <ion-title>
      <h2>Changer de Vehicule</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- TODO: <app-progress-bar [current]="0" [next]="0.20" ></app-progress-bar> -->
  <app-vehicle-choice-component [isModal]="isModal"></app-vehicle-choice-component>
</ion-content>
