<app-header [defaultHref]="'/private/tabs/transports/new-delivery/merchandise'"></app-header>

<ion-content>
  <app-progress-bar [current]="0.60" [next]="0.80" ></app-progress-bar>
  <ion-grid class="page-grid">
    <ion-row *ngIf="addressSelected.length > 0">
      <ion-col size="12">
        <h2>Livraisons planifiées</h2>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-reorder-group [disabled]="isReorderDisabled" (ionItemReorder)="handleReorder($any($event))">
            <ion-reorder *ngFor="let address of addressSelected">
              <ion-item [button]="true">
                <ion-label>
                  <ion-row>
                    <ion-col>
                      <h3>{{address.address.name}}</h3>
                      <p>{{address.address.address}},<br/>{{address.address.postcode}} {{address.address.city}}, {{getCountry(address.address.country)}}</p>
                      <p><ion-icon name="calendar"></ion-icon>{{address.date}}</p>
                    </ion-col>
                    <ion-col class="flex-col ion-align-items-center ion-justify-content-end">
                      <ion-button shape="round" (click)="removeSelectedAddress(address.address.pk)" [color]="isReorderDisabled ? 'danger' : 'secondary'" class="btn-cicle">
                        <ion-icon [name]="isReorderDisabled ? 'trash' : 'reorder-three'" slot="icon-only"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-reorder>
          </ion-reorder-group>
        </ion-list>

        <ion-buttons *ngIf="addressSelected.length > 1" class="ion-justify-content-end">
          <ion-button type="button" color="primary" fill="outline" shape="round" (click)="toggleReorder()">
            <ion-icon [name]="isReorderDisabled ? 'swap-vertical' : 'trash'" size="small"></ion-icon> <ion-text class="ion-margin-bottom" [innerText]="isReorderDisabled ? 'Changer l\'ordre' : 'Supprimer des adresses'"></ion-text>
          </ion-button>
        </ion-buttons>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Livraison</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && address.length <= 0">
      <ion-col>
        <p class="ion-text-center">
          Votre carnet d'adresse est vide.<br />
          Veuillez ajouter une adresse.
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && address.length > 0">
      <ion-col>
        <form [formGroup]="form">
          <ion-accordion-group (ionChange)="resetField()">
            <ng-container *ngFor="let address of address">
              <ion-accordion  *ngIf="!addressIsSelected(address.pk)" [value]="address.pk">
                <ion-item slot="header" class="ion-align-items-start">
                  <ion-label>
                    <h3>{{address.name}}</h3>
                    <p>{{address.address}} {{address.postcode}} {{address.city}} {{getCountry(address.country)}}</p>
                  </ion-label>
                </ion-item>
                <div class="content ion-no-padding" slot="content">
                  <ion-row>
                    <ion-col>
                      <ion-item class="ion-no-padding">
                        <ion-icon name="calendar" size="small" class="ion-margin-end custom-icon" color="primary"></ion-icon>
                        <ion-label position="floating" class="custom-size">Date de livraison</ion-label>
                        <ion-input type="text" formControlName="date" (click)="openDatePicker('date')" [disabled]="selectedAccordionPk !== address.pk"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item class="ion-no-padding" [class.disabled]="!form.get('date').value">
                        <ion-icon name="time" size="small" class="ion-margin-end custom-icon" color="primary"></ion-icon>
                        <ion-label position="floating" class="custom-size">Heure de livraison</ion-label>
                        <ion-input type="text" formControlName="hour" [disabled]="selectedAccordionPk !== address.pk" [readonly]="true"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item class="ion-no-padding">
                        <ion-label position="floating" class="custom-size">Instructions pour la livraison</ion-label>
                        <ion-textarea formControlName="instruction" [disabled]="selectedAccordionPk !== address.pk"></ion-textarea>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-padding">
                      <ion-buttons class="ion-justify-content-end">
                        <ion-button type="button" [disabled]="!form.valid" fill="solid" color="primary" shape="round" (click)="onSelectedAddress(address.pk)">
                          <span class="custom-btn">
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <ion-text class="ion-margin-bottom ion-margin-start">Sélectionner cette adresse</ion-text>
                          </span>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-accordion>
            </ng-container>
          </ion-accordion-group>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-button type="button" shape="round" *ngIf="transportService.isEditMode" routerLink="/private/tabs/transports/new-delivery/summary">
      <ion-icon name="save" size="small" class="ion-margin-end"></ion-icon>Enregistrer
    </ion-button>

    <ion-fab-button (click)="addAddress()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
