<app-header defaultHref="/auth" title="Mot de passe oublié" *ngIf="config.isMobile"></app-header>

<ion-content>
  <div class="container">
    <form [formGroup]="form">
      <div class="logo-container">
        <img class="header-logo" src="https://h24-public-website.s3.eu-west-3.amazonaws.com/assets/logo-noir-sur-fond-blanc.jpeg" alt="H24 Transports">
      </div>
      <div class="ion-text-center ion-margin-bottom" *ngIf="isLoading">
        <ion-spinner name="lines"></ion-spinner>
      </div>
      <div class="alert-success ion-margin-bottom" *ngIf="success === true">
        Un email de réinitialisation du mot de passe vous à été envoyé
      </div>

      <ion-input 
        label="Adresse email"
        type="email"
        autocomplete="email"
        label-placement="floating"
        fill="outline"
        shape="round"
        placeholder="Adresse email"
        [class.ion-invalid]="success === false"
        errorText="{{ success === false ? 'L\'adresse email n\'a pas de compte' : regexErrors['email'] }}"
        formControlName="email">
      </ion-input>
      <p class="intro">
        Saisissez l’adresse e-mail que vous avez utilisée pour vous inscrire auprès de H24 Transport. Vous recevrez un email pour définir un nouveau mot de passe.
      </p>
      
      <ion-button (click)="onSubmit()" color="primary" shape="round" [disabled]="!form.valid || success === true">
        Définir un nouveau mot de passe
      </ion-button>
    </form>
    <div class="truck-big"><img src="assets/truck-big.jpeg"></div>
  </div>
</ion-content>
