ion-button {
  display: block;
}

ion-input {
  margin-top: 10px;
}

.intro {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.header-logo {
  width: 65px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .logo-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}