<ion-content class="ion-padding">

    <ion-grid class="page-grid">
      <ion-row>
        <ion-col class="ion-center" size="4" offset="4">
          <ion-img [src]="'https://h24-public-app.s3.eu-west-3.amazonaws.com/images/global/LOGO-H24-Transports-BLACK.png'" alt="H24 Transports"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <form [formGroup]="form">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label>
                    <h1>Réinitialisation du mot de passe</h1>
                    <ion-text color="primary" class="ion-margin">Veuillez indiquer votre adresse e-mail.</ion-text>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
                    <ion-icon name="mail" size="small" class="ion-margin-end" color="primary"></ion-icon>
                    <ion-input type="email" label="Adresse e-mail" labelPlacement="floating" formControlName="email"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="auto">
                <ion-back-button type="button" text="Retour" defaultHref="/auth"></ion-back-button>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-button type="submit" color="primary" shape="round" (click)="onSubmit()" [disabled]="!form.valid">
                  Connexion
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
