<app-header defaultHref="/auth" title="Mot de passe oublié"></app-header>

<ion-content class="ion-padding">
  <br>

  <form [formGroup]="form">
    <div class="alert-success" *ngIf="success === true">
      Un email de réinitialisation du mot de passe vous à été envoyé
    </div>

    <ion-input 
      label="Adresse email"
      type="email"
      autocomplete="email"
      label-placement="floating"
      fill="outline"
      shape="round"
      placeholder="Adresse email"
      [class.ion-invalid]="success === false"
      errorText="{{ success === false ? 'L\'adresse email n\'a pas de compte' : regexErrors['email'] }}"
      formControlName="email">
    </ion-input>

    <p>
      Saisissez l’adresse e-mail que vous avez utilisée pour vous inscrire auprès de H24 Transport. Vous recevrez un email pour définir un nouveau mot de passe.
    </p>
    
    <ion-button (click)="onSubmit()" color="primary" shape="round" [disabled]="!form.valid || success === true">
      Définir un nouveau mot de passe
    </ion-button>
  </form>
</ion-content>
