ion-content {
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;
}

ion-button.submit {
  display: block;
}

ion-input {
  height: 76px;
  margin-bottom: 10px;
}

.password-infos {
  font-size: smaller;
  color: grey;
}

.page-grid {
  margin-top: 20px;
}

.alert-success {
  & {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  ion-icon {
    margin-right: 15px;
  }
}