<ion-content cclass="ion-padding" scrollY="false">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid class="page-grid">
      <ion-row>
        <ion-col>
          <h2>Modifier le mot de passe</h2>
        </ion-col>
      </ion-row>
      <ion-row class="page-content ion-align-items-center">
        <ion-col>
          <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
            <ion-input type="password" label="Mot de passe actuel" labelPlacement="floating" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="page-content ion-align-items-center">
        <ion-col>
          <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
            <ion-input type="password" label="Nouveau mot de passe" labelPlacement="floating" formControlName="newpassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="page-content ion-align-items-center">
        <ion-col>
          <ion-item class="ion-margin-bottom ion-no-padding" lines="full">
            <ion-input type="password" label="Confirmez le nouveau mot de passe" labelPlacement="floating" formControlName="newpasswordconf"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-right">
          <ion-button type="submit" color="primary" shape="round" [disabled]="!form.valid">
            Enregistrer
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
