<app-header [defaultHref]="'/private/tabs/profile/details'" title="Mot de passe"></app-header>

<ion-content cclass="ion-padding">
  <div class="profile-container">
    <app-profile-component [desktopOnly]="true"></app-profile-component>
    <div class="page">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-input type="password" label="Mot de passe actuel" labelPlacement="floating" errorText="Le mot de passe n'est pas valide" formControlName="password" #password>
          <ion-icon name="eye-outline" slot="end" (click)="toggleShowPassword (password)"></ion-icon>
        </ion-input>
        <ion-input type="password" label="Nouveau mot de passe" labelPlacement="floating" errorText="Le mot de passe n'est pas valide" formControlName="password1" #password1>
          <ion-icon name="eye-closed" slot="end" (click)="toggleShowPassword (password1)"></ion-icon>
        </ion-input>
        <div class="password-infos" *ngIf="success !== true">
          Votre mot de passe:
          <ul>
            <li>doit contenir 8 caractères minimum</li>
            <li>Une lettre majuscule, une minuscule, un chiffre
            <li>Un caractère spécial <br> (@ $ ! % * ? &)</li>
          </ul>
        </div>
        <ion-input type="password" label="Confirmez le nouveau mot de passe" labelPlacement="floating" formControlName="password2" #password2>
          <ion-icon name="eye-closed" slot="end" (click)="toggleShowPassword (password2)"></ion-icon>
        </ion-input>
        <ion-button type="submit" class="submit" color="primary" shape="round" [disabled]="!form.valid">
          Enregistrer
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>

<ion-toolbar>
  <div class="alert-success" *ngIf="success === true">
    <ion-icon name="checkbox-outline"></ion-icon> Votre mot de passe à été modifié
  </div>
</ion-toolbar>