.edit-wrap {
  text-align: right;
  ion-button {
    --border-radius: 20px;
    ion-icon {
      margin-right: 5px;
    }
  }
}
.ion-card-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-title {
  font-size: 20px;
}

h3 {
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}

ion-label {
  text-align: center;
}

ion-card {
  ion-card {
    background: #E9E9E8;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    height: 120px;
    position: relative;
    flex: 1;
    margin: 0;
    ion-img {
      margin: 0 auto;
      text-align: center;
    }
  }

  ion-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    min-width: 0;
    margin: 0;
  }
}
