<app-header [defaultHref]="'/private/tabs/transports/new-delivery/pick-up'"></app-header>
<ion-content>
  <app-progress-bar [current]="0.40" [next]="0.60" ></app-progress-bar>

  <ion-grid class="page-grid">
    <ion-row>
      <ion-col>
        <h2>Marchandise(s) à transporter </h2>
      </ion-col>
    </ion-row>
    <ion-row size-sm="12">
      <ion-col *ngFor="let merchandise of merchandises" size="6">
        <ion-item class="ion-no-padding" lines="none">

          <ion-icon *ngIf="merchandise.complementary_information !== ''" name="information-circle" class="left-badge" size="default" (click)="openInfo(merchandise.complementary_information)"></ion-icon>

          <ion-badge slot="end" color="danger" class="right-badge">{{merchandise.quantity}}</ion-badge>
          <ion-card (click)="onMerchandiseClick(merchandise.id, merchandise.name, merchandise.quantity, merchandise.complementary_information)" color="light-tint">
            <ion-img [src]="'https://h24-public-app.s3.eu-west-3.amazonaws.com/assets/global/img/'+getImage(merchandise.id)+'.png'"  [alt]="merchandise.name"></ion-img>
            <ion-label>{{merchandise.name}}</ion-label>
          </ion-card>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-no-padding" lines="none">
          <ion-card (click)="onMerchandiseClick('other', 'Autres', 0, '')" color="light-tint">
            <ion-img [src]="'https://h24-public-app.s3.eu-west-3.amazonaws.com/assets/global/img/other-add.png'"  [alt]="'Autres'"></ion-img>
            <ion-label>Autres</ion-label>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-grid>

    <ion-fab slot="fixed" horizontal="end" vertical="bottom" >
      <ion-button (click)="onMerchandiseSelected()" [disabled]="!isPageValid">
        Suivant
        <ion-icon name="arrow-forward" class="ion-margin-start"></ion-icon>
      </ion-button>
    </ion-fab>
</ion-content>
