ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
}

.user-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.user-header ion-icon {
    font-size: 30pt;
}

.user-infos {
    margin-top: 60px;
}

.user-infos ion-button {
    display: block;
    margin-top: 30px;
}

.user-name {
    margin-top: 10px;
}

.signout {
    color: #F93939;
    font-weight: 500;
    font-size: 16px;
}

ion-item {
    height: 50px;
    margin-top: 10px;
}

ion-badge {
    min-width: 15pt;
}

ion-modal {
    .buttons {
      display: flex;
      justify-content: space-between;
    }

    ion-button {
      flex-grow: 1;
    }
}