.container {
    white-space:  nowrap;
}

.container.not-modal {
    margin-left: 20px;
    margin-right: 20px;
}

.active {
    --background: #F1F1F1;
    border-radius: 15px;
}

.user-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.user-header ion-icon {
    font-size: 30pt;
}

.user-infos {
    margin-top: 60px;
}

.user-infos ion-button {
    display: block;
    margin-top: 30px;
}

.user-name {
    margin-top: 10px;
}

.signout {
    color: #F93939;
    font-weight: 500;
    font-size: 16px;
}

ion-item {
    height: 50px;
    margin-top: 10px;
    --padding-end: 20px;
    cursor: pointer;
}

ion-item:hover {
    --background: #F1F1F1;
    border-radius: 15px;
}

ion-badge {
    min-width: 15pt;
}

ion-modal {
    .buttons {
      display: flex;
      justify-content: space-between;
    }

    ion-button {
      flex-grow: 1;
    }
}

@media (min-width: 768px) {
    ion-item {
        margin-top: 0px;
    }
}