@media (min-width: 768px) {
    ion-item {
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    ion-content  {
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 15px;
    }
}