<ion-header>
  <ion-toolbar>
    <ion-title>Choisissez votre {{type === 'date' ? "date": "heure"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col [size]="type ==='date' ? '12' : '6'">
      <ion-item>
        <ion-datetime #dateTime [presentation]="type === 'date' ? 'date' : 'time'" [value]="defaultValue" mode="ios" (ionChange)="onChange(dateTime.value)" [min]="minVal" ></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col *ngIf="type ==='time'" size="6" class="hour-selected">
      <div>
        {{defaultValue | date: 'HH:mm'}}
      </div>
    </ion-col>
  </ion-row>



  <ion-buttons class="ion-justify-content-end ion-padding">
    <ion-button *ngIf="type === 'time'" color="primary" fill="outline" shape="round" (click)="onTimeChoose(dateTime.value)" slot="end">Valider</ion-button>
  </ion-buttons>

</ion-content>

