
ion-datetime {
  --background: var(--ion-color-primary-contrast);
  &.datetime-presentation-time {
    color: var(--ion-color-light);
    --ion-color-base: var(--ion-color-light-contrast) !important;
  }
}


.hour-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 15px;
    font-size: 30px;
    border: 1px solid var(--ion-color-light-contrast);
    border-radius: 6px;
  }
}
