<ion-header>
  <ion-toolbar>
    <ion-title>Choisissez votre {{type === 'date' ? "date": "heure"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-datetime #dateTime [presentation]="type === 'date' ? 'date' : 'time'" [value]="defaultValue" (ionChange)="onChange(dateTime.value)" [min]="minVal" ></ion-datetime>
  </ion-item>


  <ion-buttons class="ion-justify-content-end ion-padding">
    <ion-button *ngIf="type === 'time'" color="primary" fill="outline" shape="round" (click)="onTimeChoose(dateTime.value)" slot="end">Validate Time</ion-button>
  </ion-buttons>

</ion-content>

