<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home" >
      <ion-label>Acceuil</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transports" [disabled]="!userHasChooseCompany">
      <ion-label>Transports</ion-label>
      <ion-icon name="location"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile" [disabled]="!userHasChooseCompany">
      <ion-label>Profil</ion-label>
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
