<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button [routerLink]="['/private/tabs/home']" >
      <ion-label>Acceuil</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/private/tabs/transports']" [disabled]="!userHasChooseCompany">
      <ion-label>Transports</ion-label>
      <ion-icon name="location"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/private/tabs/profile']">
      <ion-label>Profil</ion-label>
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
